<div class="agenda">
  <!-- TOOLBAR -->
  <ion-row class="ion-align-items-center">
    <ion-col
      class="ion-align-self-center ion-text-right"
      [size]="5"
      [sizeSm]="3"
      [pushSm]="5"
      [sizeLg]="2"
      [pushLg]="8"
    >
      <ion-item lines="none" class="calendarViewSelector" *ngIf="allowedViews.length > 1">
        <ion-select
          interface="popover"
          [value]="view"
          (ionChange)="$event?.detail ? setView($event.detail.value) : null"
        >
          <ion-select-option *ngFor="let view of allowedViews" [value]="view">
            {{ 'IDEA_AGENDA.' + view | uppercase | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col
      class="ion-align-self-center ion-text-right"
      [size]="7"
      [sizeSm]="4"
      [pushSm]="5"
      [sizeLg]="2"
      [pushLg]="8"
    >
      <ion-button
        fill="clear"
        color="dark"
        size="small"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChanged($event)"
      >
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button
        fill="clear"
        color="dark"
        size="small"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChanged($event)"
      >
        <ion-icon name="today-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button
        fill="clear"
        color="dark"
        size="small"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChanged($event)"
      >
        <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="ion-align-self-center titleCol" [size]="12" [sizeSm]="5" [pullSm]="7" [sizeLg]="8" [pullLg]="4">
      <h2>{{ viewDate | calendarDate : view + 'ViewTitle' : locale }}</h2>
      <p *ngIf="titleNotes">{{ titleNotes }}</p>
    </ion-col>
  </ion-row>
  <!-- TEMPLATES (touch only what's necessary and leave everything else as it is) -->
  <ng-template #eventTitleTemplate let-event="event" let-view="view">
    <span
      class="cal-event-title"
      [class.noWrap]="event.allDay"
      [attr.aria-hidden]="{} | calendarA11y : 'hideEventTitle'"
    >
      {{ event.title | calendarEventTitle : view : event }}
      <p *ngIf="!event.allDay">{{ getPreviewDescription(event.description) }}</p>
    </span>
  </ng-template>
  <ng-template
    #eventTemplate
    let-weekEvent="weekEvent"
    let-tooltipPlacement="tooltipPlacement"
    let-eventClicked="eventClicked"
    let-tooltipTemplate="tooltipTemplate"
    let-tooltipAppendToBody="tooltipAppendToBody"
    let-tooltipDisabled="tooltipDisabled"
    let-tooltipDelay="tooltipDelay"
    let-column="column"
    let-daysInWeek="daysInWeek"
  >
    <div
      class="cal-event"
      [class.external]="weekEvent.event.external"
      [class.needsAction]="Attendance.NEEDS_ACTION === weekEvent.event.attendance"
      [class.declined]="Attendance.DECLINED === weekEvent.event.attendance"
      [class.tentative]="Attendance.TENTATIVE === weekEvent.event.attendance"
      [style.border-left-color]="weekEvent.event.color?.primary"
      [style.color]="getAlternateColor(weekEvent.event.color?.primary, darkMode ? 80 : -40)"
      [style.background-color]="getAlternateColor(weekEvent.event.color?.primary, darkMode ? 60 : 80, 0.2)"
      [mwlCalendarTooltip]="!tooltipDisabled && !isMobile() ? getTooltipContent(weekEvent.event) : ''"
      [tooltipPlacement]="tooltipPlacement"
      [tooltipEvent]="weekEvent.tempEvent || weekEvent.event"
      [tooltipTemplate]="tooltipTemplate"
      [tooltipAppendToBody]="tooltipAppendToBody"
      [tooltipDelay]="tooltipDelay"
      (mwlClick)="eventClicked.emit({ sourceEvent: $event })"
      (mwlKeydownEnter)="eventClicked.emit({ sourceEvent: $event })"
      tabindex="0"
      role="application"
      [attr.aria-label]="
        { event: weekEvent.tempEvent || weekEvent.event, locale: locale } | calendarA11y : 'eventDescription'
      "
    >
      <mwl-calendar-event-actions [event]="weekEvent.tempEvent || weekEvent.event"></mwl-calendar-event-actions>
      &ngsp;
      <mwl-calendar-event-title
        [event]="weekEvent.tempEvent || weekEvent.event"
        [customTemplate]="eventTitleTemplate"
        [view]="daysInWeek === 1 ? 'day' : 'week'"
      >
      </mwl-calendar-event-title>
      <div class="eventGadgets" *ngIf="!weekEvent.event.allDay">
        <ion-icon *ngFor="let icon of weekEvent.event.icons" [name]="icon.name" [title]="icon.title"></ion-icon>
        <idea-user-avatar
          size="mini"
          *ngFor="let avatar of weekEvent.event.avatars"
          [src]="avatar.url"
          [name]="avatar.title"
        ></idea-user-avatar>
      </div>
    </div>
  </ng-template>
  <ng-template
    #hourSegmentTemplate
    let-segment="segment"
    let-locale="locale"
    let-segmentHeight="segmentHeight"
    let-isTimeLabel="isTimeLabel"
  >
    <div
      #segmentElement
      class="cal-hour-segment"
      [style.height.px]="segmentHeight"
      [class.cal-hour-start]="segment.isStart"
      [class.cal-after-hour-start]="!segment.isStart"
      [ngClass]="segment.cssClass"
      (mousedown)="allowDragToCreate ? startDragToCreate($event, segment.date, segmentElement) : null"
      (touchstart)="allowDragToCreate ? startDragToCreate($event, segment.date, segmentElement) : null"
    >
      <div class="cal-time" *ngIf="isTimeLabel">
        {{ segment.date | calendarDate : 'weekViewHour' : locale }}
      </div>
    </div>
  </ng-template>
  <!-- VIEWS -->
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      [locale]="locale"
      [excludeDays]="excludeDays"
      [weekStartsOn]="weekStartsOn"
      [eventTitleTemplate]="eventTitleTemplate"
      (eventClicked)="selectEvent.emit($event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      (dayClicked)="changeDay($event.day)"
      (beforeViewRender)="beforeMonthViewRender($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      [excludeDays]="excludeDays"
      [weekStartsOn]="weekStartsOn"
      [dayStartHour]="dayStartHour"
      [dayEndHour]="dayEndHour"
      [hourSegments]="hourSegments"
      [eventTemplate]="eventTemplate"
      [hourSegmentTemplate]="hourSegmentTemplate"
      (eventClicked)="selectEvent.emit($event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      (dayHeaderClicked)="dateIsValid($event.day.date) ? selectDay.emit($event.day.date) : null"
      (hourSegmentClicked)="dateIsValid($event.date) ? selectSlot.emit($event.date) : null"
      (beforeViewRender)="beforeWeekOrDayViewRender($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      [dayStartHour]="dayStartHour"
      [dayEndHour]="dayEndHour"
      [hourSegments]="hourSegments"
      [eventTemplate]="eventTemplate"
      [hourSegmentTemplate]="hourSegmentTemplate"
      (eventClicked)="selectEvent.emit($event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      (hourSegmentClicked)="dateIsValid($event.date) ? selectSlot.emit($event.date) : null"
      (beforeViewRender)="beforeWeekOrDayViewRender($event)"
    >
    </mwl-calendar-day-view>
  </div>
</div>
