<ion-toolbar color="light" *ngIf="offline.isOnline() && isSRAvailable">
  <ion-buttons slot="start">
    <!-- START LISTENING -->
    <ion-button color="primary" *ngIf="!isListening" [disabled]="disabled" (click)="startListening()">
      <ion-icon name="mic-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <!-- CONFIRM -->
    <ion-button color="primary" *ngIf="platform.is('ios') && isListening" (click)="stopListening()">
      <ion-icon name="checkmark-circle-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <!-- TIMER -->
    <ion-label *ngIf="platform.is('ios') && timer && isListening" class="timer">{{ timer.showPreview() }}</ion-label>
  </ion-buttons>
  <ion-buttons slot="end">
    <!-- CANCEL -->
    <ion-button color="dark" *ngIf="platform.is('ios') && isListening" (click)="stopListening(true)">
      <ion-icon name="close-circle-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <!-- CLEAR ALL -->
    <ion-button color="medium" *ngIf="!isListening && text?.length" [disabled]="disabled" (click)="clear()">
      <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
