// @idea to import in project's global.scss; example:
// @use '../node_modules/@idea-ionic/agenda/css/global.scss';

idea-agenda .agenda {
  --idea-agenda-marker-color: var(--ion-color-primary);
  --idea-agenda-border-color: var(--ion-color-light);
  --idea-agenda-header-background: var(--ion-color-white);
  --idea-agenda-header-highlight: rgba(var(--ion-color-medium-rgb), 0.06);
  --idea-agenda-today-highlight: rgba(var(--ion-color-medium-rgb), 0.2);
  --idea-agenda-cell-background: var(--ion-color-white);
  --idea-agenda-month-badge: var(--ion-color-primary);
  --idea-agenda-event-background: var(--ion-color-primary-shade);
  --idea-agenda-event-border-color: var(--ion-color-white);
  --idea-agenda-event-color: var(--ion-color-primary-contrast);
  --idea-agenda-month-detail-background: var(--ion-color-light);
  --idea-agenda-month-detail-color: var(--ion-color-light-contrast);
  --idea-agenda-month-detail-shadow-box: inset 0 0 6px 0 rgba(0, 0, 0, 0.5);
  --idea-agenda-disabled-background: var(--ion-color-light);
  --idea-agenda-disabled-opacity: 0.7;
  --idea-agenda-external-event-border-color: var(--ion-color-medium-tint);

  @media (prefers-color-scheme: dark) {
    --idea-agenda-border-color: var(--ion-color-white);
    --idea-agenda-header-background: var(--ion-color-white-shade);
    --idea-agenda-header-highlight: var(--ion-color-light-shade);
    --idea-agenda-today-highlight: rgba(var(--ion-color-light-rgb), 0.3);
    --idea-agenda-cell-background: var(--ion-color-white-shade);
    --idea-agenda-external-event-border-color: var(--ion-color-light-tint);
  }

  // remove focused effect on cells (it depends on the SO, so it's unpredictable)
  *:focus {
    outline-width: 0;
  }
  // "now" marker
  .cal-current-time-marker {
    height: 3px;
    background-color: var(--idea-agenda-marker-color);
  }
  // column headers in week view
  .cal-week-view .cal-day-headers span {
    font-size: 14px;
    white-space: break-spaces;
  }
  .cal-week-view .cal-all-day-events .cal-events-row {
    height: 42px;
  }
  // general border color
  .cal-day-headers,
  .cal-header,
  .cal-week-view,
  .cal-hour,
  .cal-day-column,
  .cal-hour-segment,
  .cal-days,
  .cal-day-cell,
  .cal-cell-row,
  .cal-all-day-events,
  .cal-time-events {
    border-color: var(--idea-agenda-border-color) !important;
  }
  // headers rows and cells
  .cal-day-headers,
  .cal-all-day-events,
  .cal-time-label-column .cal-hour,
  .cal-time-label-column .cal-hour-segment,
  .cal-month-view .cal-header {
    background-color: var(--idea-agenda-header-background);
  }
  // text color for the weekends' detail label in the header (e.g. oct 17)
  .cal-weekend span {
    color: inherit !important;
  }
  // highlight the header cells when hovered and the selected day in month view
  .cal-day-headers .cal-header:hover,
  .cal-day-headers .cal-drag-over,
  .cal-hour-segment:hover,
  .cal-cell:hover,
  .cal-open {
    background-color: var(--idea-agenda-header-highlight) !important;
  }
  // highlight today's date
  .cal-today {
    background-color: var(--idea-agenda-header-highlight) !important;
  }
  // avoid highlighting entire rows in month view
  .cal-month-view .cal-cell-row:hover {
    background-color: transparent;
  }
  // cells background color (no difference between even and odd)
  .cal-month-view,
  .cal-hour,
  .cal-hour-odd {
    background-color: var(--idea-agenda-cell-background);
  }
  // month view day's details row style
  .cal-month-view .cal-open-day-events {
    background-color: var(--idea-agenda-month-detail-background);
    color: var(--idea-agenda-month-detail-color);
    box-shadow: var(--idea-agenda-month-detail-shadow-box);
  }
  // events style for week and day view
  mwl-calendar-week-view-event .cal-event,
  mwl-calendar-day-view .cal-event {
    border: none;
    border-radius: 3px;
    border-left: 4px solid var(--idea-agenda-event-border-color);
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    background: var(--idea-agenda-event-background);
    color: var(--idea-agenda-event-color);
  }
  mwl-calendar-week-view-event .cal-event.allDay,
  mwl-calendar-day-view .cal-event.allDay {
    height: 100%;
  }
  // give less focus to external events
  .cal-event.external {
    opacity: 0.6;
    border: 1px solid var(--idea-agenda-external-event-border-color) !important;
  }
  // manage the attendance of external events
  .cal-event.external.needsAction {
    opacity: 0.3;
  }
  .cal-event.external.declined .cal-event-title {
    text-decoration: line-through;
    font-weight: normal;
    font-style: italic;
  }
  .cal-event.external.tentative {
    background: repeating-linear-gradient(
      45deg,
      var(--ion-color-light-shade),
      var(--ion-color-light-shade) 10px,
      var(--ion-color-light) 10px,
      var(--ion-color-light) 20px
    );
  }
  // event-content (title) style
  .cal-event-title {
    display: block;
    padding: 6px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    white-space: normal;
    font-weight: 600;
    p {
      font-weight: normal;
      margin: 2px 0 0 0;
    }
  }
  .cal-event-title.noWrap {
    white-space: nowrap;
  }
  // month view event dot
  mwl-calendar-open-day-events .cal-event-title,
  mwl-calendar-open-day-events .cal-event {
    top: 0 !important;
    vertical-align: middle;
  }
  // month view day details color dot
  mwl-calendar-open-day-events .cal-event-title {
    display: inline-block;
  }
  // month view events counter badge
  .cal-day-badge {
    background-color: var(--idea-agenda-month-badge);
  }
  // show as disabled the cells/days that aren't valid
  .cal-disabled {
    pointer-events: none;
    opacity: var(--idea-agenda-disabled-opacity);
    background-color: var(--idea-agenda-disabled-background);
  }
}
