<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only" />
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'IDEA_UNCOMMON.OFFLINE.OFFLINE_MANAGER' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [title]="'IDEA_UNCOMMON.OFFLINE.ADVANCED_ACTIONS' | translate" (click)="actions()">
        <ion-icon slot="icon-only" name="ellipsis-vertical" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList">
    @if (!_offline.synchronizing && _offline.requiresManualConfirmation) {
      <ion-list-header>
        <ion-label>
          <h2>{{ 'IDEA_UNCOMMON.OFFLINE.HUGE_SYNC_NEED_MANUAL_CONFIRMATION' | translate }}</h2>
        </ion-label>
      </ion-list-header>
    }
    @if (!_offline.synchronizing) {
      <ion-list-header>
        <ion-label class="ion-text-wrap">
          <h3 class="lastSyncAt">
            {{ 'IDEA_UNCOMMON.OFFLINE.LAST_SYNC' | translate }}:
            <ion-text>
              {{
                _offline.lastSyncAt
                  ? (_offline.lastSyncAt | dateLocale: 'medium')
                  : ('IDEA_UNCOMMON.OFFLINE.NEVER' | translate)
              }}
            </ion-text>
          </h3>
          @if (_offline.errorInLastSync) {
            <p>
              <ion-text color="danger">
                <b>{{ 'IDEA_UNCOMMON.OFFLINE.ERROR_DURING_LAST_SYNC' | translate }}</b>
              </ion-text>
            </p>
          }
        </ion-label>
        <ion-button
          size="small"
          fill="solid"
          [color]="_offline.errorInLastSync ? 'danger' : 'dark'"
          [disabled]="_offline.isOffline()"
          (click)="sync()"
        >
          <ion-icon slot="start" name="sync" /> {{ 'IDEA_UNCOMMON.OFFLINE.SYNC_NOW' | translate }}
        </ion-button>
      </ion-list-header>
    }
  </ion-list>
  @if (_offline.synchronizing) {
    <ion-list class="aList">
      <ion-item>
        <ion-label class="ion-text-center">
          <ion-spinner name="crescent" color="primary" />
        </ion-label>
      </ion-item>
    </ion-list>
  }
  @if (_offline.useQueueAPIRequests) {
    <ion-list class="aList">
      <ion-list-header>
        <ion-label>
          <h2>{{ 'IDEA_UNCOMMON.OFFLINE.UPLOAD' | translate }}</h2>
          <p>{{ 'IDEA_UNCOMMON.OFFLINE.UPLOAD_QUEUE_REQUESTS_EXPLANATION' | translate }}</p>
        </ion-label>
      </ion-list-header>
      @if (!_offline.queueAPIRequests.length) {
        <ion-item>
          <i>{{ 'IDEA_UNCOMMON.OFFLINE.NO_ELEMENTS_TO_UPLOAD' | translate }}</i>
          <ion-icon slot="end" size="small" name="checkmark" color="success" />
        </ion-item>
      }
      @for (r of _offline.queueAPIRequests; track r; let odd = $odd) {
        <ion-item [class.oddItem]="odd">
          <ion-label class="ion-text-wrap">
            {{ r.description }}
            @if (r.error) {
              <p>
                <ion-text color="danger">
                  <b>{{ 'IDEA_UNCOMMON.OFFLINE.ERROR_CODE' | translate }}: {{ r.error }}</b>
                </ion-text>
                <br />
                {{ 'IDEA_UNCOMMON.OFFLINE.REQUEST_FAILED_EXPLANATION_I' | translate }}<br />
                {{ 'IDEA_UNCOMMON.OFFLINE.REQUEST_FAILED_EXPLANATION_II' | translate }}<br />
                {{ 'IDEA_UNCOMMON.OFFLINE.REQUEST_FAILED_EXPLANATION_III' | translate }}
              </p>
            }
          </ion-label>
          @if (r.error) {
            <ion-button
              fill="clear"
              slot="end"
              color="danger"
              [title]="'IDEA_UNCOMMON.OFFLINE.CANCEL_REQUEST' | translate"
              (click)="deleteRequest(r)"
            >
              <ion-icon slot="icon-only" name="trash" />
            </ion-button>
          }
          @if (r.error) {
            <ion-button
              fill="clear"
              slot="end"
              color="medium"
              [title]="'IDEA_UNCOMMON.OFFLINE.DOWNLOAD_LOG' | translate"
              (click)="downloadRequestLog(r)"
            >
              <ion-icon slot="icon-only" name="download" />
            </ion-button>
          }
          @if (_offline.synchronizing) {
            <ion-spinner slot="end" name="dots" />
          }
        </ion-item>
      }
    </ion-list>
  }
  @if (_offline.getResources().length) {
    <ion-list class="aList">
      <ion-list-header>
        <ion-label>
          <h2>{{ 'IDEA_UNCOMMON.OFFLINE.DOWNLOAD' | translate }}</h2>
          <p>{{ 'IDEA_UNCOMMON.OFFLINE.DOWNLOAD_RESOURCES_EXPLANATION' | translate }}</p>
        </ion-label>
      </ion-list-header>
      @for (r of _offline.getResources(); track r) {
        <idea-cacheable-resource [resource]="_offline.getCacheableResource(r)" />
      }
    </ion-list>
  }
</ion-content>
