@if (
  _platform.is('mobile') && (_offline.isOffline() || _offline.synchronizing || _offline.requiresManualConfirmation)
) {
  <ion-fab [vertical]="vertical" [horizontal]="horizontal" [edge]="edge">
    <ion-fab-button color="dark" size="small" (click)="showStatus()">
      <!-- OFFLINE -->
      @if (_offline.isOffline()) {
        <ion-icon name="airplane" />
      }
      <!-- SYNCHRONISING -->
      @if (_offline.isOnline() && _offline.synchronizing) {
        <ion-icon name="sync" />
      }
      <!-- NEED MANAL SYNCHRONISATION -->
      @if (_offline.isOnline() && _offline.requiresManualConfirmation) {
        <ion-icon name="pause" />
      }
    </ion-fab-button>
  </ion-fab>
}
