.languageSelector {
  ion-col {
    padding: 0;
    border-bottom: 2px solid transparent;
  }
  .current {
    border-bottom-color: var(--ion-color-light);
    img {
      max-width: 25px;
    }
  }
  img {
    max-width: 22px;
    border-radius: 10px;
  }
}
ion-item ion-button[slot='end'] {
  margin-top: 15px;
}
