<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="t._('IDEA.CUSTOM_FIELDS.CLOSE_WITHOUT_SAVING')" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'IDEA.CUSTOM_FIELDS.MANAGE_SECTION' | translate }}</ion-title>
    <ion-buttons slot="end" *ngIf="!disabled">
      <ion-button [title]="t._('IDEA.CUSTOM_FIELDS.SAVE_CHANGES')" (click)="save()">
        <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [class.viewMode]="disabled" [class.editMode]="!disabled">
    <ion-list class="aList ion-padding">
      <ng-container *ngIf="noHeaders">
        <ion-list-header *ngIf="disabled">
          <ion-label>
            <h2>{{ getLabelValue(_section.name) }}</h2>
            <p>{{ getLabelValue(_section.description) }}</p>
          </ion-label>
        </ion-list-header>
        <ion-item *ngIf="!disabled" [lines]="lines" [class.fieldHasError]="hasFieldAnError('name')">
          <ion-label position="stacked">
            {{ 'IDEA.CUSTOM_FIELDS.NAME' | translate }}
            <ion-text class="obligatoryDot" *ngIf="!disabled"></ion-text>
          </ion-label>
          <ion-input
            type="text"
            readonly="true"
            [value]="getLabelValue(_section.name)"
            [placeholder]="t._('IDEA.CUSTOM_FIELDS.SECTION_NAME_HINT')"
          ></ion-input>
          <ion-button slot="end" fill="clear" class="marginTop" [title]="t._('COMMON.EDIT')" (click)="editName()">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item *ngIf="!disabled" [lines]="lines" [class.fieldHasError]="hasFieldAnError('description')">
          <ion-label position="stacked">{{ 'IDEA.CUSTOM_FIELDS.DESCRIPTION' | translate }}</ion-label>
          <ion-input
            type="text"
            readonly="true"
            [value]="getLabelValue(_section.description)"
            [placeholder]="t._('IDEA.CUSTOM_FIELDS.SECTION_DESCRIPTION_HINT')"
          ></ion-input>
          <ion-button
            slot="end"
            fill="clear"
            class="marginTop"
            [title]="t._('COMMON.EDIT')"
            (click)="editDescription()"
          >
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-list-header>
          <ion-label>
            <h3>{{ 'IDEA.CUSTOM_FIELDS.SECTION_FIELDS' | translate }}</h3>
          </ion-label>
        </ion-list-header>
      </ng-container>
      <ion-item lines="none" *ngIf="!_section.fieldsLegend.length">
        <ion-label>
          <i>{{ 'IDEA.CUSTOM_FIELDS.NO_ELEMENTS' | translate }}</i>
        </ion-label>
      </ion-item>
      <ion-reorder-group [disabled]="disabled" (ionItemReorder)="reorderFieldsLegend($event)">
        <ion-item *ngFor="let f of _section.fieldsLegend" [button]="true" [lines]="lines" (click)="openField(f)">
          <ion-reorder slot="start" *ngIf="!disabled"></ion-reorder>
          <ion-label>
            {{ getLabelValue(_section.fields[f].name) }}
            <ion-text class="obligatoryDot" *ngIf="_section.fields[f].obligatory"></ion-text>
            <p>{{ getLabelValue(_section.fields[f].description) }}</p>
          </ion-label>
          <ion-badge slot="end" color="medium">
            {{ 'IDEA.CUSTOM_FIELDS.FIELDS_TYPES.' + _section.fields[f].type | translate }}
          </ion-badge>
          <ion-button slot="end" fill="clear" color="danger" *ngIf="!disabled" (click)="removeField(f, $event)">
            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-reorder-group>
      <ion-row *ngIf="!disabled">
        <ion-col class="ion-padding ion-text-center">
          <ion-button size="small" color="primary" (click)="addNewField()">
            {{ 'IDEA.CUSTOM_FIELDS.ADD_FIELD' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list class="aList ion-padding" *ngIf="useDisplayTemplate">
      <ion-list-header>
        <ion-label>
          <h3>{{ 'IDEA.CUSTOM_FIELDS.DISPLAY_TEMPLATE' | translate }}</h3>
          <p>{{ 'IDEA.CUSTOM_FIELDS.DISPLAY_TEMPLATE_I' | translate }}</p>
        </ion-label>
      </ion-list-header>
      <ion-item lines="none" *ngIf="!_section.displayTemplate.length">
        <ion-label>
          <i>{{ 'IDEA.CUSTOM_FIELDS.NO_ELEMENTS' | translate }}</i>
        </ion-label>
      </ion-item>
      <ion-reorder-group [disabled]="disabled" (ionItemReorder)="reorderDisplayTemplateRows($event)">
        <div class="displayTemplateRow" *ngFor="let row of _section.displayTemplate; let rowIndex = index">
          <ion-item-divider>{{ 'IDEA.CUSTOM_FIELDS.ROW' | translate }} {{ rowIndex + 1 }} </ion-item-divider>
          <ion-item [lines]="lines">
            <ion-reorder slot="start" *ngIf="!disabled"></ion-reorder>
            <ion-label class="ion-text-wrap">
              <div *ngFor="let field of row">
                <ion-button
                  size="small"
                  fill="outline"
                  color="medium"
                  [disabled]="disabled"
                  (click)="removeFieldToDisplayTemplateRow(rowIndex, field)"
                >
                  <ion-icon name="close" slot="start" *ngIf="!disabled"></ion-icon>
                  {{ getLabelValue(_section.fields[field].name) }}
                </ion-button>
              </div>
            </ion-label>
            <ion-button
              slot="end"
              fill="clear"
              color="primary"
              *ngIf="!disabled && !isDisplayTemplateRowFull(rowIndex)"
              [title]="t._('IDEA.CUSTOM_FIELDS.ADD_FIELD')"
              (click)="addFieldToDisplayTemplateRow(rowIndex)"
            >
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
      </ion-reorder-group>
      <ion-row *ngIf="!disabled">
        <ion-col class="ion-padding ion-text-center">
          <ion-button size="small" color="medium" (click)="addNewDisplayTemplateRow()">
            {{ 'IDEA.CUSTOM_FIELDS.ADD_ROW' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
</ion-content>
