<ion-reorder-group [disabled]="disabled || withoutReorder" (ionItemReorder)="reorderFieldsLegend($event)">
  <ion-item
    class="customField"
    *ngFor="let f of fieldsLegend"
    [class.tappable]="!disabled"
    [lines]="lines || 'full'"
    (click)="disabled ? null : select.emit(fields[f])"
  >
    <ion-reorder slot="start" *ngIf="!disabled && !withoutReorder"></ion-reorder>
    <ion-label class="fieldMain">
      <b>
        {{ fields[f].name.translate(currentLanguage, languages) }}
      </b>
      <p>
        {{ fields[f].description.translate(currentLanguage, languages) }}
      </p>
      <p class="fieldOptions">
        <ion-text *ngIf="fields[f].enum?.length">
          {{ 'IDEA.CUSTOM_FIELDS.CHOICES' | translate }}: {{ fields[f].enum.join(', ') }}
        </ion-text>
        <ion-text *ngIf="fields[f].min !== null && fields[f].min !== undefined">
          {{ 'IDEA.CUSTOM_FIELDS.MIN' | translate }}: {{ fields[f].min }}
        </ion-text>
        <ion-text *ngIf="fields[f].max !== null && fields[f].max !== undefined">
          {{ 'IDEA.CUSTOM_FIELDS.MAX' | translate }}: {{ fields[f].max }}
        </ion-text>
        <ion-text *ngIf="fields[f].default">
          {{ 'IDEA.CUSTOM_FIELDS.DEFAULT' | translate }}: {{ fields[f].default }}
        </ion-text>
      </p>
    </ion-label>
    <ion-badge
      slot="end"
      color="danger"
      *ngIf="fields[f].obligatory"
      [title]="t.instant('IDEA.CUSTOM_FIELDS.OBLIGATORY')"
    >
      *
    </ion-badge>
    <ion-badge slot="end" color="primary">
      {{ 'IDEA.CUSTOM_FIELDS.FIELDS_TYPES.' + fields[f].type | translate }}
    </ion-badge>
    <ion-button
      slot="end"
      fill="clear"
      color="danger"
      *ngIf="showRemoveBtn"
      (click)="disabled ? null : remove.emit(fields[f])"
    >
      <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
</ion-reorder-group>
