<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="'IDEA_COMMON.SIGNATURE.CANCEL' | translate" (click)="close()">
        <ion-icon name="close" slot="icon-only" />
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'IDEA_COMMON.SIGNATURE.SIGNATURE' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      @if (existingSignature) {
        <ion-button [title]="'IDEA_COMMON.SIGNATURE.CLEAR_SIGNATURE' | translate" (click)="undo()">
          <ion-icon name="arrow-undo" slot="icon-only" />
        </ion-button>
      }
      @if (canEdit()) {
        <ion-button [title]="'IDEA_COMMON.SIGNATURE.SAVE_SIGNATURE' | translate" (click)="save()">
          <ion-icon name="checkmark" slot="icon-only" />
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList">
    <ion-list-header>
      <ion-label>{{ 'IDEA_COMMON.SIGNATURE.SIGNATORY' | translate }}</ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-input
        type="text"
        [placeholder]="'IDEA_COMMON.SIGNATURE.NAME_AND_SURNAME' | translate"
        [disabled]="!canEdit()"
        [class.fieldHasError]="signatoryError"
        [(ngModel)]="signature.signatory"
      />
      @if (contacts.length && canEdit()) {
        <ion-button
          fill="clear"
          color="dark"
          slot="end"
          [title]="'IDEA_COMMON.SIGNATURE.CHOOSE_FROM_CONTACTS' | translate"
          (click)="pickSignatory()"
        >
          <ion-icon name="person-circle" slot="icon-only" />
        </ion-button>
      }
    </ion-item>
  </ion-list>
  <ion-list class="aList">
    <ion-list-header>
      <ion-label>{{ 'IDEA_COMMON.SIGNATURE.SIGNATURE_EXPLANATION' | translate }}</ion-label>
    </ion-list-header>
    <div class="canvasContainer" [class.fieldHasError]="signatureError">
      <canvas id="signatureCanvas"></canvas>
    </div>
    @if (canEdit()) {
      <ion-row>
        <ion-col class="ion-text-right">
          <ion-button fill="clear" [title]="'IDEA_COMMON.SIGNATURE.CLEAR_SIGNATURE' | translate" (click)="clear()">
            <ion-icon name="trash-outline" slot="icon-only" />
          </ion-button>
        </ion-col>
      </ion-row>
    }
  </ion-list>
</ion-content>
