<ion-header>
  <ion-toolbar class="ideaToolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'IDEA.TEAMS.TEAM_MEMBERS' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [title]="t._('IDEA.TEAMS.INVITE_USER_HINT')" (click)="addMember()">
        <ion-icon name="person-add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list lines="full" class="membershipsList">
    <ion-list-header>
      <ion-label>{{ team?.name }}</ion-label>
    </ion-list-header>
    <p>{{ 'IDEA.TEAMS.MAIN_EXPLANATION' | translate }}.</p>
    <ion-item *ngFor="let m of memberships">
      <ion-label>
        {{ m.name }}
      </ion-label>
      <ion-badge slot="end" color="dark" *ngIf="m.userId === team?.ownerId" [title]="t._('IDEA.TEAMS.IS_OWNER')">
        {{ 'IDEA.TEAMS.OWNER' | translate }}
      </ion-badge>
      <ion-badge
        slot="end"
        color="primary"
        *ngIf="m.userId !== team?.ownerId && m.permissions.admin"
        [title]="t._('IDEA.TEAMS.CAN_MANAGE_TEAM')"
      >
        {{ 'IDEA.TEAMS.ADMIN' | translate }}
      </ion-badge>
      <ion-badge slot="end" color="light" *ngIf="m.pendingInvitation" [title]="t._('IDEA.TEAMS.PENDING_INVITATION')">
        {{ 'IDEA.TEAMS.INVITED' | translate }}
      </ion-badge>
      <ion-button
        slot="end"
        fill="clear"
        color="dark"
        [disabled]="m.userId === team?.ownerId"
        [title]="t._('IDEA.TEAMS.ACTIONS_ON_USER_', { user: m.name })"
        (click)="manageMembership(m)"
      >
        <ion-icon name="ellipsis-horizontal" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
