<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="close" *ngIf="tc.get('membership')"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'IDEA.TEAMS.SELECT_A_TEAM' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [title]="t._('IDEA.TEAMS.MANAGE_YOUR_ACCOUNT_HINT')" (click)="openAccount()">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf="teams?.length" [title]="t._('IDEA.TEAMS.CREATE_TEAM_HINT')" (click)="newTeam()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full" class="aList maxWidthContainer">
    <ion-list-header *ngIf="!tc.get('membership')">
      <ion-label class="ion-text-center">
        <h2>{{ 'IDEA.TEAMS.YOU_NEED_A_TEAM_TO_CONTINUE' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item
      *ngFor="let team of teams"
      [title]="t._('IDEA.TEAMS.SELECT_TEAM_', { team: team.name })"
      [button]="true"
      [disabled]="!(team.isActivatedOnProject || team.isRequestingUserAdmin)"
      (click)="selectTeam(team.teamId)"
    >
      <ion-label>
        {{ team.name }}
        <p *ngIf="!(team.isActivatedOnProject || team.isRequestingUserAdmin)">
          {{ 'IDEA.TEAMS.TEAM_NOT_ACTIVATED_DISCLAIMER' | translate }}
        </p>
      </ion-label>
      <ion-badge
        slot="end"
        color="primary"
        *ngIf="isCurrentTeam(team.teamId)"
        [title]="t._('IDEA.TEAMS.CURRENT_TEAM_EXPLANATION')"
      >
        {{ 'IDEA.TEAMS.CURRENT' | translate }}
      </ion-badge>
      <ion-button
        slot="end"
        fill="clear"
        size="small"
        color="dark"
        *ngIf="team.isRequestingUserAdmin"
        [title]="t._('IDEA.TEAMS.TEAM_MEMBERS_HINT', { team: team.name })"
        (click)="manageTeam(team.teamId, $event)"
      >
        <ion-icon name="people" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <p class="ion-text-center" *ngIf="teams && !teams.length">
      <ion-button (click)="newTeam()">{{ 'IDEA.TEAMS.CREATE_TEAM_HINT' | translate }}</ion-button>
    </p>
  </ion-list>
</ion-content>
