.teamsList {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  background: transparent;
  > p {
    margin: 0 10px 20px 10px;
  }
  ion-item {
    --background: var(--ion-color-white);
  }
}
.noElements {
  margin-top: 10px;
  --background: transparent;
}
