<ion-header class="ion-no-border">
  <ion-toolbar class="ideaToolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="close" *ngIf="tc.get('membership')"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'IDEA.TEAMS.SELECT_A_TEAM' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [title]="t.instant('IDEA.TEAMS.CREATE_TEAM_HINT')" (click)="newTeam()">
        {{ 'IDEA.TEAMS.CREATE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list lines="full" class="teamsList">
    <p *ngIf="!tc.get('membership')">{{ 'IDEA.TEAMS.YOU_NEED_A_TEAM_TO_CONTINUE' | translate }}.</p>
    <ion-item
      button="true"
      *ngFor="let team of teams"
      [title]="t.instant('IDEA.TEAMS.SELECT_TEAM_', { team: team.name })"
      [disabled]="!(team.isActivatedOnProject || team.isRequestingUserAdmin)"
      (click)="selectTeam(team.teamId)"
    >
      <ion-label>
        {{ team.name }}
        <p *ngIf="!(team.isActivatedOnProject || team.isRequestingUserAdmin)">
          {{ 'IDEA.TEAMS.TEAM_NOT_ACTIVATED_DISCLAIMER' | translate }}.
        </p>
      </ion-label>
      <ion-badge
        slot="end"
        color="primary"
        *ngIf="isCurrentTeam(team.teamId)"
        [title]="t.instant('IDEA.TEAMS.CURRENT_TEAM_EXPLANATION')"
      >
        {{ 'IDEA.TEAMS.CURRENT' | translate }}
      </ion-badge>
      <ion-button
        slot="end"
        fill="clear"
        size="small"
        color="dark"
        *ngIf="team.isRequestingUserAdmin"
        [title]="t.instant('IDEA.TEAMS.TEAM_MEMBERS_HINT', { team: team.name })"
        (click)="manageTeam(team.teamId, $event)"
      >
        {{ 'IDEA.TEAMS.MEMBERS' | translate }}
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
