<ion-fab
  *ngIf="platform.is('mobile') && (offline.isOffline() || offline.synchronizing || offline.requiresManualConfirmation)"
  [vertical]="vertical"
  [horizontal]="horizontal"
  [edge]="edge"
>
  <ion-fab-button color="dark" size="small" (click)="showStatus()">
    <!-- OFFLINE -->
    <ion-icon name="airplane" *ngIf="offline.isOffline()" />
    <!-- SYNCHRONISING -->
    <ion-icon name="sync" *ngIf="offline.isOnline() && offline.synchronizing" />
    <!-- NEED MANAL SYNCHRONISATION -->
    <ion-icon name="pause" *ngIf="offline.isOnline() && offline.requiresManualConfirmation" />
  </ion-fab-button>
</ion-fab>
