<ion-item
  class="emailDataItem"
  button
  [color]="color"
  [lines]="lines"
  [title]="placeholder || ''"
  [class.withLabel]="label"
  (click)="openEmailDataConfiguration()"
>
  @if (icon) {
    <ion-button fill="clear" slot="start" [color]="iconColor" [class.marginTop]="label" (click)="doIconSelect($event)">
      <ion-icon [name]="icon" slot="icon-only" />
    </ion-button>
  }
  @if (label) {
    <ion-label position="stacked">{{ label }}</ion-label>
  }
  <div class="description">
    @if (!emailData.subject) {
      <div class="placeholder">{{ placeholder }}</div>
    }
    @if (emailData.subject) {
      <div [innerHTML]="emailData.subject | highlight: variablesPlain"></div>
    }
    @if (emailData.to.length) {
      <p>
        <ion-text>{{ 'IDEA_COMMON.EMAIL.TO' | translate }}:</ion-text> {{ emailData.to.join(', ') }}
      </p>
    }
    @if (emailData.cc.length) {
      <p>
        <ion-text>{{ 'IDEA_COMMON.EMAIL.CC' | translate }}:</ion-text> {{ emailData.cc.join(', ') }}
      </p>
    }
    @if (emailData.bcc.length) {
      <p>
        <ion-text>{{ 'IDEA_COMMON.EMAIL.BCC' | translate }}:</ion-text> {{ emailData.bcc.join(', ') }}
      </p>
    }
  </div>
  <ion-icon slot="end" name="chevron-forward" class="selectIcon" />
</ion-item>
