ion-col {
  background-color: var(--ion-color-dark);
  color: var(--ion-color-dark);
}
ion-chip {
  --ripple-color: transparent;
  --background-hover: transparent;
}

ion-card {
  ion-item {
    --inner-padding-end: 0;
  }
}
