<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button color="danger" [title]="t._('COMMON.CLOSE')" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'IDEA_COMMON.EMAIL.SEND_EMAIL' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [title]="t._('IDEA_COMMON.EMAIL.SEND_EMAIL')" [disabled]="!canSend()" (click)="send()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-no-padding" color="light">
    <ion-card-content>
      <ion-item class="ion-no-padding" lines="none" color="transparent">
        <ion-label>
          <h2>
            <b>
              {{ 'IDEA_COMMON.EMAIL.TO' | translate }}
            </b>
          </h2>
        </ion-label>
        <ion-button slot="end" fill="outline" color="dark" (click)="addAddressToList(_email.to)">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-list class="ion-no-margin ion-no-padding">
        <ion-item *ngIf="!_email.to.length" color="dark">
          <i>{{ 'IDEA_COMMON.EMAIL.NO_ADDRESSES' | translate }}</i>
        </ion-item>
        <ion-grid *ngIf="_email.to.length">
          <ion-row>
            <ion-col color="dark">
              <ion-chip
                *ngFor="let x of _email.to"
                color="light"
                outline
                [style.border-color]="'#000'"
                [style.border-width]="'medium'"
              >
                <ion-label>{{ x }}</ion-label>
                <ion-icon color="danger" name="close" (click)="removeAddressFromList(_email.to, x)"></ion-icon>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <ion-item class="ion-no-padding" lines="none" color="transparent">
        <ion-label>
          <h2>
            <b>
              {{ 'IDEA_COMMON.EMAIL.CC' | translate }}
            </b>
          </h2>
        </ion-label>
        <ion-button slot="end" fill="outline" color="dark" (click)="addAddressToList(_email.cc)">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-list class="ion-no-margin ion-no-padding">
        <ion-item *ngIf="!_email.cc.length" color="dark">
          <i>{{ 'IDEA_COMMON.EMAIL.NO_ADDRESSES' | translate }}</i>
        </ion-item>
        <ion-grid *ngIf="_email.cc.length">
          <ion-row>
            <ion-col color="dark">
              <ion-chip
                *ngFor="let x of _email.cc"
                color="light"
                outline
                [style.border-color]="'#000'"
                [style.border-width]="'medium'"
              >
                <ion-label>{{ x }}</ion-label>
                <ion-icon color="danger" name="close" (click)="removeAddressFromList(_email.cc, x)"></ion-icon>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <ion-item class="ion-no-padding" lines="none" color="transparent">
        <ion-label>
          <h2>
            <b>
              {{ 'IDEA_COMMON.EMAIL.BCC' | translate }}
            </b>
          </h2>
        </ion-label>
        <ion-button slot="end" fill="outline" color="dark" (click)="addAddressToList(_email.bcc)">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-list class="ion-no-margin ion-no-padding">
        <ion-item *ngIf="!_email.bcc.length" color="dark">
          <i>{{ 'IDEA_COMMON.EMAIL.NO_ADDRESSES' | translate }}</i>
        </ion-item>
        <ion-grid *ngIf="_email.bcc.length">
          <ion-row>
            <ion-col color="dark">
              <ion-chip
                *ngFor="let x of _email.bcc"
                color="light"
                outline
                [style.border-color]="'#000'"
                [style.border-width]="'medium'"
              >
                <ion-label>{{ x }}</ion-label>
                <ion-icon color="danger" name="close" (click)="removeAddressFromList(_email.bcc, x)"></ion-icon>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-no-padding" color="light">
    <ion-card-content>
      <ion-item class="ion-no-padding" lines="none" color="transparent">
        <ion-label>
          <h2>
            <b>
              {{ 'IDEA_COMMON.EMAIL.SUBJECT' | translate }}
            </b>
          </h2>
        </ion-label>
      </ion-item>
      <ion-item color="dark" [lines]="lines">
        <ion-input type="text" [(ngModel)]="_email.subject"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding" lines="none" color="transparent">
        <ion-label>
          <h2>
            <b>
              {{ 'IDEA_COMMON.EMAIL.CONTENT' | translate }}
            </b>
          </h2>
        </ion-label>
      </ion-item>
      <ion-item color="dark" [lines]="lines">
        <ion-textarea [rows]="13" [(ngModel)]="_email.content"></ion-textarea>
      </ion-item>
      <idea-mde-toolbar></idea-mde-toolbar>
      <ion-item class="ion-no-padding" lines="none" color="transparent">
        <ion-label>
          <h2>
            <b>
              {{ 'IDEA_COMMON.EMAIL.ATTACHMENTS' | translate }}
            </b>
          </h2>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let a of attachments" color="dark">
        <ion-icon slot="start" name="attach"></ion-icon>
        {{ a }}
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
