<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="'COMMON.CLOSE' | translate" (click)="close()">
        <ion-icon slot="icon-only" name="close" />
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'IDEA_COMMON.EMAIL.SEND_EMAIL' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [title]="'IDEA_COMMON.EMAIL.SEND_EMAIL' | translate" [disabled]="!canSend()" (click)="send()">
        <ion-icon slot="icon-only" name="send" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList sendEmailList">
    <ion-list-header>
      <ion-label>
        <h2>{{ 'IDEA_COMMON.EMAIL.TO' | translate }}</h2>
      </ion-label>
      <ion-button color="dark" (click)="addAddressToList(emailWC.to)">
        <ion-icon slot="icon-only" name="add-circle" />
      </ion-button>
    </ion-list-header>
    <ion-item *ngIf="!emailWC.to.length">
      <i>{{ 'IDEA_COMMON.EMAIL.NO_ADDRESSES' | translate }}</i>
    </ion-item>
    <ion-item *ngFor="let x of emailWC.to">
      <ion-button fill="clear" slot="start" (click)="removeAddressFromList(emailWC.to, x)">
        <ion-icon slot="icon-only" name="remove" />
      </ion-button>
      <ion-label>{{ x }}</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>
        <h2>{{ 'IDEA_COMMON.EMAIL.CC' | translate }}</h2>
      </ion-label>
      <ion-button color="dark" (click)="addAddressToList(emailWC.cc)">
        <ion-icon slot="icon-only" name="add-circle" />
      </ion-button>
    </ion-list-header>
    <ion-item *ngIf="!emailWC.cc.length">
      <i>{{ 'IDEA_COMMON.EMAIL.NO_ADDRESSES' | translate }}</i>
    </ion-item>
    <ion-item *ngFor="let x of emailWC.cc">
      <ion-button fill="clear" slot="start" (click)="removeAddressFromList(emailWC.cc, x)">
        <ion-icon slot="icon-only" name="remove" />
      </ion-button>
      <ion-label>{{ x }}</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>
        <h2>{{ 'IDEA_COMMON.EMAIL.BCC' | translate }}</h2>
      </ion-label>
      <ion-button color="dark" (click)="addAddressToList(emailWC.bcc)">
        <ion-icon slot="icon-only" name="add-circle" />
      </ion-button>
    </ion-list-header>
    <ion-item *ngIf="!emailWC.bcc.length">
      <i>{{ 'IDEA_COMMON.EMAIL.NO_ADDRESSES' | translate }}</i>
    </ion-item>
    <ion-item *ngFor="let x of emailWC.bcc">
      <ion-button fill="clear" slot="start" (click)="removeAddressFromList(emailWC.bcc, x)">
        <ion-icon slot="icon-only" name="remove" />
      </ion-button>
      <ion-label>{{ x }}</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>
        <h2>{{ 'IDEA_COMMON.EMAIL.SUBJECT' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item [lines]="lines">
      <ion-input type="text" [(ngModel)]="emailWC.subject" />
    </ion-item>
    <ion-list-header>
      <ion-label>
        <h2>{{ 'IDEA_COMMON.EMAIL.CONTENT' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item [lines]="lines">
      <ion-textarea [rows]="13" [(ngModel)]="emailWC.content" />
    </ion-item>
    <idea-mde-toolbar />
    <ion-list-header>
      <ion-label>
        <h2>{{ 'IDEA_COMMON.EMAIL.ATTACHMENTS' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item *ngIf="!attachments.length">
      <i>{{ 'IDEA_COMMON.EMAIL.NO_ATTACHMENTS' | translate }}</i>
    </ion-item>
    <ion-item *ngFor="let a of attachments"><ion-icon slot="start" name="attach" />{{ a }}</ion-item>
  </ion-list>
</ion-content>
