<ion-header>
  <ion-toolbar class="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'IDEA.OFFLINE.OFFLINE_MANAGER' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [title]="t._('IDEA.OFFLINE.ADVANCED_ACTIONS')" (click)="actions()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList padding" lines="none">
    <ion-list-header *ngIf="!offline.synchronizing && offline.requiresManualConfirmation">
      <ion-label>
        <h2>{{ 'IDEA.OFFLINE.HUGE_SYNC_NEED_MANUAL_CONFIRMATION' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-list-header *ngIf="!offline.synchronizing">
      <ion-label class="ion-text-wrap">
        <h3 class="lastSyncAt">
          {{ 'IDEA.OFFLINE.LAST_SYNC' | translate }}:
          <ion-text>{{ getLastSyncLabel() }}</ion-text>
        </h3>
        <p class="error" *ngIf="offline.errorInLastSync">{{ 'IDEA.OFFLINE.ERROR_DURING_LAST_SYNC' | translate }}</p>
      </ion-label>
      <ion-button
        size="small"
        fill="solid"
        [color]="offline.errorInLastSync ? 'danger' : 'dark'"
        [disabled]="offline.isOffline()"
        (click)="offline.synchronize(true)"
      >
        <ion-icon slot="start" name="sync"></ion-icon> {{ 'IDEA.OFFLINE.SYNC_NOW' | translate }}
      </ion-button>
    </ion-list-header>
  </ion-list>
  <ion-list class="aList" lines="none" *ngIf="offline.synchronizing">
    <ion-item>
      <ion-label class="ion-text-center">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="aList" lines="none" *ngIf="offline.useQueueAPIRequests">
    <ion-list-header>
      <ion-label>
        <h2>{{ 'IDEA.OFFLINE.UPLOAD' | translate }}</h2>
        <p>{{ 'IDEA.OFFLINE.UPLOAD_QUEUE_REQUESTS_EXPLANATION' | translate }}</p>
      </ion-label>
    </ion-list-header>
    <ion-item *ngIf="!offline.queueAPIRequests.length">
      <i>{{ 'IDEA.OFFLINE.NO_ELEMENTS_TO_UPLOAD' | translate }}</i>
      <ion-icon slot="end" size="small" name="checkmark" color="success"></ion-icon>
    </ion-item>
    <ion-item *ngFor="let r of offline.queueAPIRequests; let odd = odd" [class.oddItem]="odd">
      <ion-label>
        {{ r.description }}
        <p class="error" *ngIf="r.error">{{ r.error }}</p>
      </ion-label>
      <ion-badge slot="end" color="danger" *ngIf="r.error" [title]="t._('IDEA.OFFLINE.REQUEST_FAILED')">
        !
      </ion-badge>
      <ion-button fill="clear" slot="end" color="danger" *ngIf="r.error" (click)="deleteRequest(r)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-spinner slot="end" name="dots" *ngIf="offline.synchronizing"></ion-spinner>
    </ion-item>
  </ion-list>
  <ion-list class="aList" lines="none" *ngIf="offline.getResources().length">
    <ion-list-header>
      <ion-label>
        <h2>{{ 'IDEA.OFFLINE.DOWNLOAD' | translate }}</h2>
        <p>{{ 'IDEA.OFFLINE.DOWNLOAD_RESOURCES_EXPLANATION' | translate }}</p>
      </ion-label>
    </ion-list-header>
    <idea-cacheable-resource
      *ngFor="let r of offline.getResources()"
      [resource]="offline.getCacheableResource(r)"
    ></idea-cacheable-resource>
  </ion-list>
</ion-content>
