.aList {
  max-width: 500px;
  margin: 0 auto;
  ion-list-header {
    padding-right: 10px;
    h3.lastSyncAt {
      margin-top: 6px;
    }
  }
  .error {
    color: var(--ion-color-danger);
    font-weight: 500;
  }
}
