<!-- OFFLINE -->
<ion-footer class="offlineBar" *ngIf="offline.isOffline" [class.offsetBottom]="offsetBottom">
  <ion-toolbar>
    <ion-text>
      <b> {{ 'IDEA.OFFLINE.YOU_ARE_OFFLINE' | translate }}. </b>
      {{ 'IDEA.OFFLINE.FEATURES_REDUCED_CONTENTS_NOT_UP_TO_DATE' | translate }}.
    </ion-text>
  </ion-toolbar>
</ion-footer>
<!-- SYNCHRONISING -->
<ion-footer
  tappable
  class="offlineBar"
  *ngIf="offline.synchronizing"
  [class.offsetBottom]="offsetBottom"
  (click)="openOfflineManager()"
>
  <ion-toolbar>
    <ion-text>
      <ion-spinner name="crescent" color="light"></ion-spinner>
      {{ 'IDEA.OFFLINE.SYNC_IN_PROGRESS' | translate }}...
    </ion-text>
  </ion-toolbar>
</ion-footer>
<!-- NEED MANAL SYNCHRONISATION -->
<ion-footer
  tappable
  class="offlineBar"
  *ngIf="offline.requiresManualConfirmation"
  [class.offsetBottom]="offsetBottom"
  (click)="openOfflineManager()"
>
  <ion-toolbar>
    <ion-text>
      <ion-icon name="pause"></ion-icon>
      {{ 'IDEA.OFFLINE.HUGE_SYNC_NEED_MANUAL_CONFIRMATION' | translate }}
    </ion-text>
  </ion-toolbar>
</ion-footer>
