.offlineBar {
  ion-toolbar {
    height: 25px !important;
    --min-height: auto !important;
    --background: var(--ion-color-dark);
    ion-text {
      font-size: 0.8rem !important;
      color: white;
      display: block;
      padding-left: 10px;
      padding-top: 4px;
    }
    b {
      padding-right: 5px;
    }
    ion-spinner,
    ion-icon {
      margin-right: 5px;
      width: 10px;
      height: 10px;
    }
  }
  .toolbar-ios ion-title {
    padding: 0 20px;
  }
}
.offlineBar.offsetBottom {
  bottom: 55px;
}
