<ion-header>
  <ion-toolbar class="ideaToolbar">
    <ion-title>
      {{ 'IDEA.OFFLINE.OFFLINE_MANAGER' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" color="light" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="offlineList" lines="none">
    <ion-list-header *ngIf="offline.requiresManualConfirmation">
      <ion-label>
        {{ 'IDEA.OFFLINE.HUGE_SYNC_NEED_MANUAL_CONFIRMATION' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-list-header *ngIf="!offline.synchronizing">
      <ion-label>
        {{ 'IDEA.OFFLINE.LAST_SYNC' | translate }}:
        <ion-text class="lastSyncAt">
          {{ getLastSyncLabel() || ('IDEA.OFFLINE.LOADING' | translate) }}
        </ion-text>
      </ion-label>
      <ion-button
        size="small"
        [color]="offline.errorInLastSync ? 'danger' : 'primary'"
        [disabled]="offline.isOffline()"
        (click)="offline.synchronize(true)"
      >
        <ion-icon slot="start" name="sync"></ion-icon>
        {{ 'IDEA.OFFLINE.SYNC_NOW' | translate }}
      </ion-button>
      <p ion-text color="danger" *ngIf="offline.errorInLastSync">
        {{ 'IDEA.OFFLINE.ERROR_DURING_LAST_SYNC' | translate }}
      </p>
    </ion-list-header>
  </ion-list>
  <ion-list class="offlineList" lines="none" *ngIf="offline.synchronizing">
    <ion-item>
      <ion-label class="ion-text-center">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="offlineList" lines="none" *ngIf="offline.useQueueAPIRequests">
    <ion-list-header>
      <ion-label>
        {{ 'IDEA.OFFLINE.UPLOAD' | translate }}
        <p>
          {{ 'IDEA.OFFLINE.UPLOAD_QUEUE_REQUESTS_EXPLANATION' | translate }}
        </p>
      </ion-label>
    </ion-list-header>
    <ion-item *ngIf="!offline.queueAPIRequests.length">
      <i>
        {{ 'IDEA.OFFLINE.NO_ELEMENTS_TO_UPLOAD' | translate }}
      </i>
      <ion-icon slot="end" size="small" name="checkmark" color="success"></ion-icon>
    </ion-item>
    <ion-item *ngFor="let r of offline.queueAPIRequests; let odd = odd" [class.oddItem]="odd">
      <ion-label>
        {{ r.description }}
        <p ion-text color="danger" *ngIf="r.error">
          {{ r.error }}
        </p>
      </ion-label>
      <ion-badge slot="end" color="danger" *ngIf="r.error" [title]="t._('IDEA.OFFLINE.REQUEST_FAILED')">
        !
      </ion-badge>
      <ion-button fill="clear" slot="end" color="danger" *ngIf="r.error" (click)="deleteRequest(r)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-spinner slot="end" name="dots" *ngIf="offline.synchronizing"></ion-spinner>
    </ion-item>
  </ion-list>
  <ion-list class="offlineList" lines="none" *ngIf="offline.resourcesToCache.length">
    <ion-list-header>
      <ion-label>
        {{ 'IDEA.OFFLINE.DOWNLOAD' | translate }}
        <p>
          {{ 'IDEA.OFFLINE.DOWNLOAD_RESOURCES_EXPLANATION' | translate }}
        </p>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let r of offline.resourcesToCache; let odd = odd" [class.oddItem]="odd">
      <ion-label>
        {{ r.description }}
        <p *ngIf="(offline.synchronizing || offline.requiresManualConfirmation) && r.getNumElementsToCache()">
          {{ 'IDEA.OFFLINE.NUM_ELEMENTS_TO_CACHE' | translate: { num: r.getNumElementsToCache() } }}
        </p>
      </ion-label>
      <ion-badge
        slot="end"
        color="danger"
        *ngIf="!r.synchronizing && r.error"
        [title]="t._('IDEA.OFFLINE.ONE_OF_THE_UPLOADS_FAILED')"
      >
        !
      </ion-badge>
      <ion-icon
        slot="end"
        size="small"
        name="checkmark"
        color="success"
        *ngIf="!r.synchronizing && !r.error"
      ></ion-icon>
      <ion-spinner slot="end" name="dots" *ngIf="r.synchronizing && !offline.requiresManualConfirmation"></ion-spinner>
      <ion-icon
        slot="end"
        size="small"
        name="stop-circle"
        color="dark"
        *ngIf="r.synchronizing && offline.requiresManualConfirmation"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
