// @idea to import in project's global.scss; example:
// @import '../node_modules/@idea-ionic/map/css/global.scss';

idea-map {
  display: none;
  width: 100%;
  height: 100%;
}
idea-map.mapReady {
  display: block;
}
.idea-map-clustericon {
  background: var(--cluster-color);
  color: #fff;
  border-radius: 100%;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.idea-map-clustericon::before,
.idea-map-clustericon::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: var(--cluster-color);
  opacity: 0.2;
  border-radius: 100%;
}
.idea-map-clustericon::before {
  padding: 7px;
}
.idea-map-clustericon::after {
  padding: 14px;
}
.idea-map-clustericon-1 {
  --cluster-color: #00a2d3;
}
.idea-map-clustericon-2 {
  --cluster-color: #ff9b00;
}
.idea-map-clustericon-3 {
  --cluster-color: #ff6969;
}
