<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="'IDEA_COMMON.MDE.CLOSE_WITHOUT_SAVING' | translate" (click)="close()">
        <ion-icon name="close" slot="icon-only" />
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ title || ('IDEA_COMMON.MDE.TITLE' | translate) }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [title]="'IDEA_COMMON.MDE.SAVE_AND_CLOSE' | translate" (click)="confirm()">
        <ion-icon name="checkmark" slot="icon-only" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h2 class="header" *ngIf="header">
    {{ header }}
  </h2>
  <p class="description" *ngIf="description">
    {{ description }}
  </p>
  <p class="variables" *ngIf="variables?.length">
    <b> {{ 'IDEA_COMMON.MDE.VARIABLES' | translate }}: </b>
    <ion-text *ngFor="let v of variables">
      {{ v.concat(' ') }}
    </ion-text>
  </p>
  <ion-textarea rows="12" [id]="id" [placeholder]="placeholder" [(ngModel)]="value" />
  <idea-mde-toolbar />
</ion-content>
