ion-content {
  --ion-background-color: #f4f4f4;
}
h2.header {
  margin: 0;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
}
.description {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 0.9em;
}
.variables {
  margin: 10px 5px;
  font-size: 0.8em;
}
ion-textarea {
  --background: var(--ion-color-white);
  padding: 10px;
}
