<div class="contacts">
  <ion-item [lines]="lines" *ngIf="showName">
    <ion-label position="stacked">
      {{ 'IDEA.CONTACTS.NAME' | translate }}
    </ion-label>
    <ion-input
      [disabled]="!editMode"
      [placeholder]="t.instant('IDEA.CONTACTS.NAME_HINT')"
      [title]="t.instant('IDEA.CONTACTS.NAME_HINT')"
      [(ngModel)]="contacts.name"
    ></ion-input>
  </ion-item>
  <ion-item [lines]="lines">
    <ion-label position="stacked">
      {{ 'IDEA.CONTACTS.PHONE' | translate }}
    </ion-label>
    <ion-input
      [disabled]="!editMode"
      [placeholder]="t.instant('IDEA.CONTACTS.PHONE_HINT')"
      [title]="t.instant('IDEA.CONTACTS.PHONE_HINT')"
      [(ngModel)]="contacts.phone"
    ></ion-input>
  </ion-item>
  <ion-item [lines]="lines">
    <ion-label position="stacked">
      {{ 'IDEA.CONTACTS.EMAIL' | translate }}
    </ion-label>
    <ion-input
      [disabled]="!editMode"
      [placeholder]="t.instant('IDEA.CONTACTS.EMAIL_HINT')"
      [title]="t.instant('IDEA.CONTACTS.EMAIL_HINT')"
      [(ngModel)]="contacts.email"
    ></ion-input>
  </ion-item>
</div>
