ion-list {
  border-radius: 5px;
  ion-item {
    --border-color: var(--ion-color-light);
    ion-thumbnail {
      width: 20px;
      height: 20px;
      margin-top: 16px;
      margin-right: 20px;
      img {
        border-radius: 8px;
      }
    }
    ion-textarea {
      --padding-top: 2px;
      --padding-bottom: 16px;
    }
  }
}
p.explanation {
  margin: 15px 12px 20px 12px;
  font-size: 0.9em;
  color: var(--ion-color-dark-tint);
}
