<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="t._('COMMON.CANCEL')" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [title]="t._('COMMON.SAVE')" (click)="save()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [class.ion-padding]="platform.width() > 500">
  <ion-list class="aList" *ngIf="variables?.length">
    <ion-list-header>
      <ion-label>
        <h2>{{ 'IDEA.LABELER.VARIABLES_AVAILABLE' | translate }}</h2>
        <p>{{ 'IDEA.LABELER.VARIABLES_AVAILABLE_I' | translate }}</p>
      </ion-label>
    </ion-list-header>
    <ul class="variablesList">
      <li *ngFor="let v of variables">
        <small>{{ v.code }}</small> {{ v.description }}
      </li>
    </ul>
  </ion-list>
  <p class="explanation">{{ 'IDEA.LABELER.EXPLANATION' | translate }}</p>
  <idea-mde-toolbar *ngIf="markdown"></idea-mde-toolbar>
  <ion-list class="aList" *ngIf="_label">
    <ion-item lines="inset" *ngFor="let l of t.getLangs()" [class.fieldHasError]="hasFieldAnError(l)">
      <ion-thumbnail slot="start"><img [src]="getFlagURL(l)" /></ion-thumbnail>
      <ion-label position="stacked">
        {{ t.getLangNameByKey(l) }}
        <ion-text *ngIf="l === t.getDefaultLang()">- {{ 'COMMON.DEFAULT' | translate }}</ion-text>
      </ion-label>
      <ion-input type="text" *ngIf="!textarea" [(ngModel)]="_label[l]"></ion-input>
      <ion-textarea *ngIf="textarea" [(ngModel)]="_label[l]" [rows]="3" [autoGrow]="true"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
