<ion-content class="ion-padding" *ngIf="status">
  <div class="maxWidthContainer">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <h2>{{ getTitle() }}</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-align-items-center">
        <ion-img class="logo" [src]="appIconURI" (ionError)="$event.target.style.display = 'none'"></ion-img>
        <p class="htmlContent" *ngIf="htmlContent" [innerHTML]="htmlContent"></p>
        <ion-grid *ngIf="status.mustUpdate">
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button (click)="opeAppleStoreLink()" *ngIf="isIOS() && appleStoreURL">
                <ion-icon slot="start" name="logo-apple-appstore"></ion-icon>
                <ion-label>{{ 'IDEA_COMMON.APP_STATUS.UPDATE' | translate }}</ion-label>
              </ion-button>
              <ion-button (click)="openGoogleStoreLink()" *ngIf="isAndroid() && googleStoreURL">
                <ion-icon slot="start" name="logo-google-playstore"></ion-icon>
                <ion-label>{{ 'IDEA_COMMON.APP_STATUS.UPDATE' | translate }}</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
