ion-content {
  --background: white;
}
h1 {
  margin: 10px;
}
.headerLabel {
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
}
ion-col,
ion-button {
  font-size: 0.95em;
}
ion-button {
  margin: 3px 0;
}
ion-footer {
  ion-toolbar {
    --min-height: 40px;
  }
}
.tappable {
  cursor: pointer;
}
