<ion-item
  class="dateTimeItem"
  [lines]="lines || 'full'"
  [title]="placeholder || label"
  [button]="!disabled"
  [class.withLabel]="label"
  (click)="openCalendarPicker()"
>
  <ion-icon slot="start" *ngIf="icon" [name]="icon" [color]="iconColor" (click)="doIconSelect($event)"></ion-icon>
  <ion-label position="stacked" *ngIf="label" [class.selectable]="!disabled">
    {{ label }}
    <ion-text class="obligatoryDot" *ngIf="obligatory && !disabled"></ion-text>
  </ion-label>
  <ion-label class="value" [class.selectable]="!disabled">
    <ion-text class="placeholder" *ngIf="!valueToDisplay && !disabled" [class.selectable]="!disabled">
      {{ placeholder }}
    </ion-text>
    {{ valueToDisplay }}
  </ion-label>
  <ion-icon slot="end" name="caret-down" class="selectIcon" *ngIf="!disabled" [class.selectable]="!disabled"></ion-icon>
</ion-item>
