<ion-item lines="none" *ngIf="!block.sectionsLegend.length">
  <ion-label>
    <i>{{ 'IDEA_COMMON.CUSTOM_FIELDS.NO_ELEMENTS' | translate }}</i>
  </ion-label>
</ion-item>
<ion-reorder-group [disabled]="disabled" (ionItemReorder)="reorderSectionsLegend($event)">
  <ion-item
    *ngFor="let s of block.sectionsLegend"
    [button]="true"
    [detail]="true"
    [lines]="lines"
    (click)="openSection(s)"
  >
    <ion-reorder slot="start" *ngIf="!disabled"></ion-reorder>
    <ion-label>
      {{ getLabelValue(block.sections[s].name) }}
      <p>{{ getLabelValue(block.sections[s].description) }}</p>
    </ion-label>
    <ion-button slot="end" fill="clear" color="danger" *ngIf="!disabled" (click)="removeSection(s, $event)">
      <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
</ion-reorder-group>
<ion-row *ngIf="!disabled">
  <ion-col class="ion-padding ion-text-center">
    <ion-button size="small" color="primary" (click)="addNewSection()">
      {{ 'IDEA_COMMON.CUSTOM_FIELDS.ADD_SECTION' | translate }}
    </ion-button>
  </ion-col>
</ion-row>
