ion-item .marginTop {
  margin-top: 16px;
}
.obligatoryToggleList {
  background: transparent;
  --ion-item-background: transparent;
  ion-item ion-label {
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 500;
  }
}
.aList {
  ion-list-header {
    ion-icon {
      font-size: 1.8em;
      margin-left: 8px;
      margin-right: 8px;
    }
    ion-badge {
      margin-right: 4px;
    }
  }
}
