.echoCard {
  min-width: 300px;
  padding: 30px 20px;
  text-align: center;
  ion-img {
    width: 80px;
    display: block;
    margin: 0 auto;
  }
  ion-icon {
    font-size: 1.8em;
  }
  ion-card-content {
    margin-bottom: 20px;
    font-size: 1.2em;
    p.youCanCloseMe {
      margin-top: 12px;
    }
  }
}
