<ion-item [lines]="lines">
  <ion-button fill="clear" slot="start" *ngIf="description" (click)="showDescription($event)">
    <ion-icon name="help-circle-outline" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-label class="ion-text-wrap">
    {{ name }}
    <p *ngIf="renewsOn">
      {{ 'IDEA_PS.LIMIT.COUNTER_WILL_BE_RESET_ON_' | translate: { date: (renewsOn | dateLocale: 'longDate') } }}
    </p>
  </ion-label>
  <ion-badge slot="end" [color]="getLimitColor()"> {{ limit.counter }} / {{ limit.limit }} </ion-badge>
</ion-item>
