ion-content {
  --background: var(--ion-color-white);
}
h1 {
  margin: 10px;
}
.headerLabel {
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
}
ion-col,
ion-button {
  font-size: 0.95em;
}
ion-button {
  margin: 3px 0;
}
ion-footer {
  ion-toolbar {
    --min-height: 40px;
  }
}
.tappable {
  cursor: pointer;
}

.manualTimePicker {
  padding: 20px;
  input[type='number'],
  span {
    font-size: 2.5em;
  }
  input[type='number'] {
    border: none;
    border-bottom: 2px solid var(--ion-color-dark);
    text-align: center;
  }
  span {
    padding-left: 4px;
    padding-right: 4px;
  }
}
