<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="'COMMON.CLOSE' | translate" (click)="close()">
        <ion-icon name="close-circle-outline" slot="icon-only" />
      </ion-button>
    </ion-buttons>
    <ion-title>{{ (isMFAEnabled ? 'IDEA_AUTH.DISABLE_MFA' : 'IDEA_AUTH.SETUP_MFA') | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list class="aList">
    <ion-list-header>
      <ion-label class="ion-text-center">
        <h2>{{ (isMFAEnabled ? 'IDEA_AUTH.DISABLE_MFA_I' : 'IDEA_AUTH.SETUP_MFA_I') | translate }}</h2>
        <p>{{ (isMFAEnabled ? 'IDEA_AUTH.DISABLE_MFA_II' : 'IDEA_AUTH.SETUP_MFA_II') | translate }}</p>
      </ion-label>
    </ion-list-header>
    <ion-card color="white">
      <ion-card-content>
        <div id="qrCodeContainer" *ngIf="!isMFAEnabled"></div>
        <ion-item color="light">
          <ion-input
            type="text"
            inputmode="numeric"
            labelPlacement="floating"
            [label]="'IDEA_AUTH.OTP_CODE' | translate"
            [(ngModel)]="otpCode"
          />
        </ion-item>
        <ion-button expand="block" class="ion-margin-top" [disabled]="!otpCode" (click)="setMFA(!isMFAEnabled)">
          {{ (isMFAEnabled ? 'IDEA_AUTH.DISABLE_MFA' : 'IDEA_AUTH.ENABLE_MFA') | translate }}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
