<div class="contacts">
  @if (showName) {
    <ion-item [lines]="lines" [color]="color">
      <ion-input
        autocomplete="new"
        labelPlacement="stacked"
        [label]="'IDEA_COMMON.CONTACTS.NAME' | translate"
        [disabled]="!editMode"
        [placeholder]="'IDEA_COMMON.CONTACTS.NAME_HINT' | translate"
        [title]="'IDEA_COMMON.CONTACTS.NAME_HINT' | translate"
        [(ngModel)]="contacts.name"
      />
    </ion-item>
  }
  <ion-item [lines]="lines" [color]="color">
    <ion-input
      autocomplete="new"
      labelPlacement="stacked"
      [label]="'IDEA_COMMON.CONTACTS.PHONE' | translate"
      [disabled]="!editMode"
      [placeholder]="'IDEA_COMMON.CONTACTS.PHONE_HINT' | translate"
      [title]="'IDEA_COMMON.CONTACTS.PHONE_HINT' | translate"
      [(ngModel)]="contacts.phone"
    />
    @if (!editMode) {
      <ion-button
        slot="end"
        fill="clear"
        color="dark"
        class="marginTop"
        [title]="'IDEA_COMMON.CONTACTS.CALL' | translate"
        (click)="call()"
      >
        <ion-icon name="call" slot="icon-only" />
      </ion-button>
    }
  </ion-item>
  <ion-item [lines]="lines" [color]="color">
    <ion-input
      autocomplete="new"
      labelPlacement="stacked"
      [label]="'IDEA_COMMON.CONTACTS.EMAIL' | translate"
      [disabled]="!editMode"
      [placeholder]="'IDEA_COMMON.CONTACTS.EMAIL_HINT' | translate"
      [title]="'IDEA_COMMON.CONTACTS.EMAIL_HINT' | translate"
      [(ngModel)]="contacts.email"
    />
    @if (!editMode) {
      <ion-button
        slot="end"
        fill="clear"
        color="dark"
        class="marginTop"
        [title]="'IDEA_COMMON.CONTACTS.SEND_EMAIL' | translate"
        (click)="sendEmail()"
      >
        <ion-icon name="mail" slot="icon-only" />
      </ion-button>
    }
  </ion-item>
</div>
