<div class="contacts">
  <ion-item [lines]="lines" *ngIf="showName">
    <ion-label position="stacked">
      {{ 'IDEA_COMMON.CONTACTS.NAME' | translate }}
    </ion-label>
    <ion-input
      autocomplete="new"
      [disabled]="!editMode"
      [placeholder]="t._('IDEA_COMMON.CONTACTS.NAME_HINT')"
      [title]="t._('IDEA_COMMON.CONTACTS.NAME_HINT')"
      [(ngModel)]="contacts.name"
    ></ion-input>
  </ion-item>
  <ion-item [lines]="lines">
    <ion-label position="stacked">
      {{ 'IDEA_COMMON.CONTACTS.PHONE' | translate }}
    </ion-label>
    <ion-input
      autocomplete="new"
      [disabled]="!editMode"
      [placeholder]="t._('IDEA_COMMON.CONTACTS.PHONE_HINT')"
      [title]="t._('IDEA_COMMON.CONTACTS.PHONE_HINT')"
      [(ngModel)]="contacts.phone"
    ></ion-input>
    <ion-button
      slot="end"
      fill="clear"
      color="dark"
      class="marginTop"
      *ngIf="!editMode"
      [title]="t._('IDEA_COMMON.CONTACTS.CALL')"
      (click)="call()"
    >
      <ion-icon name="call" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item [lines]="lines">
    <ion-label position="stacked">
      {{ 'IDEA_COMMON.CONTACTS.EMAIL' | translate }}
    </ion-label>
    <ion-input
      autocomplete="new"
      [disabled]="!editMode"
      [placeholder]="t._('IDEA_COMMON.CONTACTS.EMAIL_HINT')"
      [title]="t._('IDEA_COMMON.CONTACTS.EMAIL_HINT')"
      [(ngModel)]="contacts.email"
    ></ion-input>
    <ion-button
      slot="end"
      fill="clear"
      color="dark"
      class="marginTop"
      *ngIf="!editMode"
      [title]="t._('IDEA_COMMON.CONTACTS.SEND_EMAIL')"
      (click)="sendEmail()"
    >
      <ion-icon name="mail" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
</div>
