<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button testId="closeButton" [title]="'COMMON.CLOSE' | translate" (click)="close()">
        <ion-icon name="arrow-back" slot="icon-only" />
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'IDEA_TEAMS.ACCOUNT.ACCOUNT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list lines="full" class="account">
    <ion-item>
      <ion-input
        testId="account.email"
        type="text"
        readonly="true"
        labelPlacement="stacked"
        [label]="'IDEA_TEAMS.ACCOUNT.EMAIL' | translate"
        [(ngModel)]="newEmail"
      />
      <ion-button
        testId="setNewEmailButton"
        slot="end"
        fill="clear"
        class="marginTop"
        [title]="'IDEA_TEAMS.ACCOUNT.SET_A_NEW_EMAIL' | translate"
        (click)="updateEmail()"
      >
        <ion-icon name="pencil" slot="icon-only" />
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-input
        testId="account.password"
        type="text"
        readonly="true"
        value="********"
        labelPlacement="stacked"
        [label]="'IDEA_TEAMS.ACCOUNT.PASSWORD' | translate"
      />
      <ion-button
        testId="setNewPasswordButton"
        slot="end"
        fill="clear"
        class="marginTop"
        [title]="'IDEA_TEAMS.ACCOUNT.SET_A_NEW_PASSWORD' | translate"
        (click)="updatePassword()"
      >
        <ion-icon name="pencil" slot="icon-only" />
      </ion-button>
    </ion-item>
    <ion-list-header class="disruptive">
      <ion-badge color="danger">
        <ion-icon name="nuclear" /> {{ 'IDEA_TEAMS.ACCOUNT.DISRUPTIVE_ACTIONS' | translate }}
      </ion-badge>
    </ion-list-header>
    <ion-item>
      <ion-label class="ion-text-wrap">
        {{ 'IDEA_TEAMS.ACCOUNT.USER_DELETION' | translate }}
        <p>
          {{ 'IDEA_TEAMS.ACCOUNT.IRREVERSIBLE_OPERATION' | translate }}
          <br />
          <i>{{ 'IDEA_TEAMS.ACCOUNT.YOU_MUST_LEAVE_ALL_TEAMS_FIRST' | translate }}</i>
        </p>
      </ion-label>
      <ion-button
        testId="deleteUserButton"
        slot="end"
        color="danger"
        [title]="'IDEA_TEAMS.ACCOUNT.DELETE_PERMANENTLY_USER' | translate"
        (click)="deleteUser()"
      >
        {{ 'IDEA_TEAMS.ACCOUNT.DELETE' | translate }}
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
