<ion-item
  class="timeIntervalItem"
  [lines]="lines || 'full'"
  [button]="!disabled"
  [title]="placeholder || valueToDisplay"
  [class.withLabel]="label"
  (click)="disabled ? doSelectWhenDisabled() : pickTimeInterval()"
>
  <ion-button
    fill="clear"
    slot="start"
    *ngIf="icon"
    [color]="iconColor"
    [class.marginTop]="label"
    (click)="doIconSelect($event)"
  >
    <ion-icon [name]="icon" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-label position="stacked" *ngIf="label" [class.selectable]="!disabled || tappableWhenDisabled">
    {{ label }}
    <ion-text class="obligatoryDot" *ngIf="obligatory && !disabled"></ion-text>
  </ion-label>
  <ion-label class="description" [class.selectable]="!disabled || tappableWhenDisabled">
    <ion-text class="placeholder" *ngIf="!valueToDisplay && !disabled" [class.selectable]="!disabled">
      {{ placeholder }}
    </ion-text>
    {{ valueToDisplay }}
  </ion-label>
  <ion-icon slot="end" name="caret-down" class="selectIcon" *ngIf="!disabled" [class.selectable]="!disabled"></ion-icon>
</ion-item>
