<ion-item
  class="listItem"
  [lines]="lines || 'full'"
  [button]="!disabled"
  [title]="placeholder"
  [class.withLabel]="label"
  (click)="openList()"
>
  <ion-icon slot="start" *ngIf="icon" [name]="icon" [color]="iconColor" (click)="doIconSelect($event)"></ion-icon>
  <ion-label position="stacked" *ngIf="label" [class.selectable]="!disabled">
    {{ label }}
    <ion-text class="obligatoryDot" *ngIf="obligatory && !disabled"></ion-text>
  </ion-label>
  <ion-label class="description" [class.selectable]="!disabled" [class.placeholder]="!getPreview() || noPreviewText">
    {{ getPreview() }}
  </ion-label>
  <ion-icon slot="end" name="caret-down" class="selectIcon" *ngIf="!disabled" [class.selectable]="!disabled"></ion-icon>
</ion-item>
