<ion-item
  class="colorPickerItem"
  [color]="color"
  [lines]="lines"
  [button]="!disabled"
  [title]="placeholder || ''"
  [class.withLabel]="label"
  (click)="openPalette($event)"
>
  <ion-button fill="clear" slot="start" *ngIf="icon" [color]="iconColor" (click)="doIconSelect($event)">
    <ion-icon [name]="icon" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-label *ngIf="label" [class.selectable]="!disabled">
    {{ label }} <ion-text class="obligatoryDot" *ngIf="obligatory && !disabled"></ion-text>
  </ion-label>
  <ion-avatar slot="end" class="colorCircle" [style.background-color]="current"></ion-avatar>
  <ion-icon slot="end" name="caret-down" class="selectIcon" *ngIf="!disabled" [class.selectable]="!disabled"></ion-icon>
</ion-item>
