.colorPickerItem {
  min-height: 48px;
  height: auto;
  .placeholder {
    color: var(--ion-color-medium);
  }
  .selectIcon {
    margin: 0;
    padding-left: 4px;
    font-size: 0.8em;
    color: var(--ion-color-medium);
  }
}
.selectItem.withLabel {
  min-height: 58px;
  height: auto;
  .selectIcon {
    padding-top: 25px;
  }
  ion-button[slot='start'] {
    margin-top: 16px;
  }
}
.selectable {
  cursor: pointer;
}
ion-avatar.colorCircle {
  width: 20px;
  height: 20px;
}
