<ion-grid class="agenda" fixed>
  <ion-row class="ion-align-items-center titleRow">
    <ion-col class="ion-text-right ion-align-self-center" [size]="10" [sizeSm]="2" [sizeLg]="3">
      <ion-button (click)="addAppointment()">
        {{ 'COMMON.ADD' | translate }}
      </ion-button>
    </ion-col>
    <ion-col
      class="ion-text-right ion-align-self-center"
      [size]="2"
      [pushSm]="8"
      [sizeSm]="2"
      [pushLg]="8"
      [sizeLg]="1"
    >
      <ion-button fill="clear" color="dark" [disabled]="loadingAppointments" (click)="syncExternalCalendars()"
        ><ion-icon name="refresh"></ion-icon
      ></ion-button>
    </ion-col>
    <ion-col
      class="ion-text-right ion-align-self-center"
      [size]="6"
      [pullSm]="2"
      [sizeSm]="5"
      [pullLg]="1"
      [sizeLg]="5"
    >
      <idea-checker
        class="calendarsChecks"
        [data]="calendarsChecks"
        [placeholder]="t.instant('IDEA.AGENDA.CALENDARS.CALENDARS')"
        [lines]="'none'"
        [allText]="t.instant('IDEA.AGENDA.ALL_CALENDARS')"
        [noneText]="t.instant('IDEA.AGENDA.NO_CALENDARS')"
        [numMaxElementsInPreview]="2"
        [showAvatars]="true"
        (change)="loadAppointmentsBasedOnVisibileCalendars()"
      ></idea-checker>
    </ion-col>
    <ion-col
      class="ion-text-right ion-align-self-center"
      [size]="6"
      [pullSm]="2"
      [sizeSm]="3"
      [pullLg]="1"
      [sizeLg]="3"
    >
      <ion-select
        interface="popover"
        class="calendarModeSelect"
        [value]="viewMode"
        (ionChange)="$event?.detail ? changeViewMode($event.detail.value) : null"
      >
        <ion-select-option value="month">{{ 'IDEA.AGENDA.MONTH' | translate }}</ion-select-option>
        <ion-select-option value="week">{{ 'IDEA.AGENDA.WEEK' | translate }}</ion-select-option>
        <ion-select-option value="day">{{ 'IDEA.AGENDA.DAY' | translate }}</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center subTitleRow">
    <ion-col class="ion-align-self-center" [size]="12" [sizeSm]="6">
      <h2>
        <ion-spinner name="crescent" *ngIf="loadingAppointments"></ion-spinner>
        {{ viewTitle }}
      </h2>
    </ion-col>
    <ion-col class="ion-text-right ion-align-self-center" [size]="12" [sizeSm]="6">
      <ion-button fill="clear" color="medium" size="small" (click)="getAdjacentCalendarDate(-1)">
        <ion-icon name="ios-arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="medium" size="small" (click)="goToToday()">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="medium" size="small" (click)="getAdjacentCalendarDate(1)">
        <ion-icon name="ios-arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ng-template #monthviewEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate">
        <ion-list lines="full" has-bouncing="false" overflow-scroll="false" *ngIf="showEventDetail">
          <ion-item
            class="appointment"
            *ngFor="let event of selectedDate?.events"
            [button]="true"
            (click)="onAppointmentSelected(event)"
          >
            <ion-avatar slot="start" class="time" [style.border-right-color]="event.color">
              <p>
                <span class="start" *ngIf="!event.allDay">
                  {{ humanizeDateTime(event.startTime, 'HH:mm') }}
                </span>
                <span class="end" *ngIf="!event.allDay">
                  {{ humanizeDateTime(event.endTime, 'HH:mm') }}
                </span>
                <span class="allDay" *ngIf="event.allDay">
                  {{ 'IDEA.AGENDA.ALL_DAY' | translate }}
                </span>
              </p>
            </ion-avatar>
            <ion-label class="mainDescription">
              {{ event.title }}
              <p>{{ event.location }}</p>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="selectedDate?.events.length == 0">
            <div class="no-events-label">{{ 'IDEA.AGENDA.NO_EVENTS' | translate }}</div>
          </ion-item>
        </ion-list>
      </ng-template>
      <ng-template #eventTemplate let-displayEvent="displayEvent">
        <div
          tappable
          class="calendar-event-inner"
          [style.background-color]="displayEvent.event.color"
          [style.color]="getConstrastTextColor(displayEvent.event.color)"
        >
          {{ displayEvent.event.title }}
          <p>{{ displayEvent.event.location }}</p>
        </div>
      </ng-template>
      <calendar
        [eventSource]="appointments"
        [calendarMode]="viewMode"
        [currentDate]="currentDate"
        [locale]="t.currentLang"
        [startingDayMonth]="t.currentLang === 'it' ? 1 : 0"
        [startingDayWeek]="t.currentLang === 'it' ? 1 : 0"
        [formatWeekTitle]="formatWeekTitle"
        [formatDayTitle]="formatDayTitle"
        [formatHourColumn]="formatHourColumn"
        [allDayLabel]="t.instant('IDEA.AGENDA.ALL_DAY')"
        [noEventsLabel]="t.instant('IDEA.AGENDA.NO_EVENTS')"
        [monthviewEventDetailTemplate]="monthviewEventDetailTemplate"
        [weekviewNormalEventTemplate]="eventTemplate"
        [weekviewAllDayEventTemplate]="eventTemplate"
        [dayviewNormalEventTemplate]="eventTemplate"
        [dayviewAllDayEventTemplate]="eventTemplate"
        [queryMode]="'remote'"
        [lockSwipes]="true"
        [step]="30"
        (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onRangeChanged)="onRangeChanged($event)"
        (onEventSelected)="onAppointmentSelected($event)"
        (onTitleChanged)="viewTitle = $event"
        (onTimeSelected)="onTimeSelected($event)"
      >
      </calendar>
    </ion-col>
  </ion-row>
</ion-grid>
