<ion-header class="ion-no-border">
  <ion-toolbar class="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="t._('COMMON.CLOSE')" (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{
        (appointment.appointmentId ? 'IDEA.AGENDA.APPOINTMENT.APPOINTMENT' : 'IDEA.AGENDA.APPOINTMENT.NEW_APPOINTMENT')
          | translate
      }}
      <ion-text *ngIf="!userCanEdit">({{ ('IDEA.AGENDA.APPOINTMENT.READ_ONLY' | translate).toLowerCase() }})</ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="linkedObjectTypes?.length"
        [title]="t._('IDEA.AGENDA.APPOINTMENT.LINK_OBJECT')"
        (click)="linkObject()"
      >
        <ion-icon name="link" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button
        *ngIf="calendar.external && appointment.linkToOrigin"
        [title]="t._('IDEA.AGENDA.APPOINTMENT.OPEN_IN_EXTERNAL_SERVICE')"
        (click)="extBrowser.openLink(appointment.linkToOrigin)"
      >
        <ion-icon [name]="getServiceIcon()" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf="userCanEdit" [title]="t._('COMMON.SAVE')" (click)="save()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <idea-appointment-linked-object
    *ngFor="let obj of appointment.linkedTo"
    [object]="obj"
    [removeMode]="removeLinkedObjectMode"
    (remove)="removeLinkedObject(obj)"
  ></idea-appointment-linked-object>
  <ion-row>
    <ion-col class="ion-no-padding ion-text-right">
      <ion-button
        fill="clear"
        color="medium"
        class="smallCase"
        *ngIf="appointment.linkedTo?.length"
        (click)="removeLinkedObjectMode = !removeLinkedObjectMode"
      >
        {{ (removeLinkedObjectMode ? 'COMMON.DONE' : 'IDEA.AGENDA.APPOINTMENT.REMOVE_LINKED_OBJECT') | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-list [class.viewMode]="!userCanEdit">
    <ion-item
      *ngIf="userCanSeeDetails"
      [lines]="userCanEdit ? 'full' : 'inset'"
      [class.fieldHasError]="hasFieldAnError('title')"
    >
      <ion-label position="stacked">
        {{ 'IDEA.AGENDA.APPOINTMENT.TITLE' | translate }}
      </ion-label>
      <ion-input
        type="text"
        [placeholder]="t._('IDEA.AGENDA.APPOINTMENT.TITLE_HINT')"
        [disabled]="!userCanEdit"
        [(ngModel)]="appointment.title"
      ></ion-input>
    </ion-item>
    <ion-item
      *ngIf="userCanSeeDetails"
      [lines]="userCanEdit ? 'full' : 'inset'"
      [class.fieldHasError]="hasFieldAnError('location')"
    >
      <ion-label position="stacked">
        {{ 'IDEA.AGENDA.APPOINTMENT.LOCATION' | translate }}
      </ion-label>
      <ion-input
        type="text"
        [placeholder]="t._('IDEA.AGENDA.APPOINTMENT.LOCATION_HINT')"
        [disabled]="!userCanEdit"
        [(ngModel)]="appointment.location"
      ></ion-input>
    </ion-item>
    <ion-item [lines]="userCanEdit ? 'full' : 'inset'" [class.fieldHasError]="hasFieldAnError('allDay')">
      <ion-label>
        {{ 'IDEA.AGENDA.APPOINTMENT.ALL_DAY' | translate }}
      </ion-label>
      <ion-checkbox
        [title]="t._('IDEA.AGENDA.APPOINTMENT.ALL_DAY_HINT')"
        [disabled]="!userCanEdit"
        [(ngModel)]="appointment.allDay"
      ></ion-checkbox>
    </ion-item>
    <idea-date-time
      [label]="t._('IDEA.AGENDA.APPOINTMENT.START_TIME')"
      [placeholder]="t._('IDEA.AGENDA.APPOINTMENT.START_TIME_HINT')"
      [date]="appointment.startTime"
      [timePicker]="!appointment.allDay"
      [disabled]="!userCanEdit"
      [lines]="userCanEdit ? 'full' : 'inset'"
      [class.fieldHasError]="hasFieldAnError('startTime')"
      (select)="appointment.startTime = $event"
    ></idea-date-time>
    <idea-date-time
      [label]="t._('IDEA.AGENDA.APPOINTMENT.END_TIME')"
      [placeholder]="t._('IDEA.AGENDA.APPOINTMENT.END_TIME_HINT')"
      [date]="appointment.endTime"
      [timePicker]="!appointment.allDay"
      [disabled]="!userCanEdit"
      [lines]="userCanEdit ? 'full' : 'inset'"
      [class.fieldHasError]="hasFieldAnError('endTime')"
      (select)="appointment.endTime = $event"
    ></idea-date-time>
    <idea-select
      [data]="calendarsSuggestions"
      [label]="t._('IDEA.AGENDA.APPOINTMENT.CALENDAR')"
      [description]="calendar.name"
      [placeholder]="t._('IDEA.AGENDA.APPOINTMENT.CALENDAR_HINT')"
      [searchPlaceholder]="t._('IDEA.AGENDA.APPOINTMENT.CALENDAR_HINT')"
      [hideIdFromUI]="true"
      [avoidAutoSelection]="true"
      [disabled]="appointment.appointmentId && !userCanEdit"
      [lines]="userCanEdit ? 'full' : 'inset'"
      [class.fieldHasError]="hasFieldAnError('calendarId')"
      (select)="$event ? setCalendar($event.value) : null"
    ></idea-select>
    <ion-item
      *ngIf="userCanSeeDetails"
      [lines]="userCanEdit ? 'full' : 'inset'"
      [class.fieldHasError]="hasFieldAnError('description')"
    >
      <ion-label position="stacked">
        {{ 'IDEA.AGENDA.APPOINTMENT.DESCRIPTION' | translate }}
      </ion-label>
      <ion-textarea
        [rows]="3"
        [placeholder]="t._('IDEA.AGENDA.APPOINTMENT.DESCRIPTION_HINT')"
        [disabled]="!userCanEdit"
        [(ngModel)]="appointment.description"
      ></ion-textarea>
    </ion-item>
    <ion-button
      fill="clear"
      *ngIf="appointment.appointmentId && userCanEdit"
      [title]="t._('COMMON.DELETE')"
      (click)="delete()"
    >
      <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
    </ion-button>
  </ion-list>
</ion-content>
