<ion-card
  class="appointmentLinkedObjectCard"
  *ngIf="state === ObjectStates.ACTIVE"
  [button]="!removeMode"
  (click)="goToObject()"
>
  <ion-card-content>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="logo" />
      </ion-avatar>
      <ion-label>
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>
      </ion-label>
      <img
        slot="end"
        class="avatars"
        onerror="this.src='./assets/imgs/no-avatar.jpg';"
        *ngFor="let a of avatars"
        [src]="a"
      />
      <span slot="end" class="circle" *ngIf="color" [style.background-color]="color"></span>
      <ion-icon slot="end" size="small" *ngFor="let i of icons" [name]="i"></ion-icon>
      <ion-button fill="clear" slot="end" color="danger" *ngIf="removeMode" (click)="remove.emit($event)">
        <ion-icon name="archive" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
<!-- SKELETON -->
<ion-card class="appointmentLinkedObjectCard" *ngIf="state === ObjectStates.LOADING">
  <ion-card-content>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        <p><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
<!-- ERROR -->
<ion-card class="appointmentLinkedObjectCard error" *ngIf="state === ObjectStates.ERROR">
  <ion-card-content>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="logo" />
      </ion-avatar>
      <ion-label>
        <h3><ion-skeleton-text style="width: 50%;"></ion-skeleton-text></h3>
        <p>
          <ion-text color="danger">{{ object.id }}</ion-text>
        </p>
      </ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger"></ion-icon>
      <ion-button fill="clear" slot="end" color="danger" *ngIf="removeMode" (click)="remove.emit()">
        <ion-icon name="archive" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
