<ion-item class="calendarItem" *ngIf="calendar" [button]="true" [disabled]="disabled" (click)="select.emit()">
  <ion-avatar slot="start">
    <div class="circle" [style.background-color]="calendar.color"></div>
  </ion-avatar>
  <ion-label>
    {{ calendar.name }}
    <p>
      <ion-text color="danger" *ngIf="calendar.external && !calendar.external.calendarId">
        {{ 'IDEA.AGENDA.CALENDARS.TAP_TO_CONFIGURE' | translate }}
      </ion-text>
      {{ calendar.description }}
    </p>
  </ion-label>
  <ion-icon
    slot="end"
    color="danger"
    name="flash-off"
    *ngIf="calendar.external && !calendar.external.calendarId"
    [title]="t._('IDEA.AGENDA.CALENDARS.CALENDAR_NOT_YET_LINKED_HINT')"
  ></ion-icon>
  <ion-icon
    slot="end"
    *ngIf="calendar.external?.service"
    [name]="getServiceIcon(calendar.external.service)"
    [title]="
      t._('IDEA.AGENDA.CALENDARS.LINKED_TO') + ' ' + t._('IDEA.AGENDA.CALENDARS.SERVICES.' + calendar.external.service)
    "
  ></ion-icon>
</ion-item>
