.attributesList {
  max-width: 550px;
  margin: 0 auto;
  background: transparent;
  ion-list-header {
    padding-left: 10px;
    ion-label {
      font-weight: 500;
      font-size: 1.1em;
    }
  }
  ion-avatar {
    .circle {
      height: 25px;
      width: 25px;
      background-color: #555;
      border-radius: 50%;
      margin: 8px 0 0 16px;
    }
  }
}
