<ion-header class="ion-no-border">
  <ion-toolbar class="ideaToolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="close" [title]="t._('COMMON.CLOSE')"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'IDEA.AGENDA.CALENDARS.CALENDARS' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [title]="t._('IDEA.AGENDA.CALENDARS.ADD_CALENDAR_HINT')" (click)="addCalendar()">
        {{ 'COMMON.ADD' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed *ngIf="ideaMembership">
    <ion-row>
      <ion-col [size]="12" [sizeLg]="6">
        <ion-list lines="inset" class="calendarsList">
          <ion-list-header>
            <ion-label>
              {{ 'IDEA.AGENDA.CALENDARS.PRIVATE_CALENDARS' | translate }}
              <ion-icon name="person"></ion-icon>
              <p>
                {{ 'IDEA.AGENDA.CALENDARS.PRIVATE_CALENDARS_HINT' | translate }}
              </p>
            </ion-label>
          </ion-list-header>
          <idea-calendar-item
            *ngFor="let cal of privateCals"
            [calendar]="cal"
            [title]="t._('IDEA.AGENDA.CALENDARS.EDIT_CALENDAR')"
            (select)="cal.external && !cal.external.calendarId ? linkExtCalendarOrDelete(cal) : editCalendar(cal)"
          ></idea-calendar-item>
          <ion-item *ngIf="privateCals && !privateCals.length"
            >{{ 'IDEA.AGENDA.CALENDARS.NO_CALENDARS' | translate }}</ion-item
          >
        </ion-list>
      </ion-col>
      <ion-col [size]="12" [sizeLg]="6">
        <ion-list lines="inset" class="calendarsList">
          <ion-list-header>
            <ion-label>
              {{ 'IDEA.AGENDA.CALENDARS.TEAM_CALENDARS' | translate: { team: tc.get('team').name } }}
              <ion-icon name="people"></ion-icon>
              <p>
                {{ 'IDEA.AGENDA.CALENDARS.TEAM_CALENDARS_HINT' | translate }}
              </p>
            </ion-label>
          </ion-list-header>
          <idea-calendar-item
            *ngFor="let cal of teamCals"
            [calendar]="cal"
            [title]="t._('IDEA.AGENDA.CALENDARS.EDIT_CALENDAR')"
            [disabled]="!ideaMembership.permissions.admin"
            (select)="cal.external && !cal.external.calendarId ? linkExtCalendarOrDelete(cal) : editCalendar(cal)"
          ></idea-calendar-item>
          <ion-item *ngIf="teamCals && !teamCals.length"
            >{{ 'IDEA.AGENDA.CALENDARS.NO_CALENDARS' | translate }}</ion-item
          >
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
