<ion-item
  class="colorPickerItem"
  [color]="color"
  [lines]="lines"
  [button]="!disabled"
  [title]="placeholder || ''"
  [class.withLabel]="label"
  (click)="openPalette($event)"
>
  @if (icon) {
    <ion-button fill="clear" slot="start" [color]="iconColor" (click)="doIconSelect($event)">
      <ion-icon [name]="icon" slot="icon-only" />
    </ion-button>
  }
  @if (label) {
    <ion-label [class.selectable]="!disabled">
      {{ label }}
      @if (obligatory && !disabled) {
        <ion-text class="obligatoryDot" />
      }
    </ion-label>
  }
  <ion-avatar slot="end" class="colorCircle" [style.background-color]="current" />
  @if (!disabled) {
    <ion-icon slot="end" name="caret-down" class="selectIcon" [class.selectable]="!disabled" />
  }
</ion-item>
