.dateTimeItem {
  .value {
    min-height: 20px;
    width: 100%;
  }
  .placeholder {
    color: var(--ion-color-medium);
  }
  .selectIcon {
    margin: 10px 5px 0 0;
    font-size: 1.2rem;
    color: var(--ion-color-medium);
  }
}
.selectable {
  cursor: pointer
}
ion-text.obligatoryDot::after {
  content: '*';
  font-size: 1.1em;
  color: var(--ion-color-danger);
}
