<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="'IDEA_COMMON.CHECKER.CLOSE_WITHOUT_SELECTING' | translate" (click)="cancel()">
        <ion-icon slot="icon-only" name="chevron-down" />
      </ion-button>
    </ion-buttons>
    <ion-searchbar
      #searchbar
      [debounce]="100"
      [placeholder]="searchPlaceholder || ('IDEA_COMMON.CHECKER.SEARCH' | translate)"
      (ionInput)="search($event.target.value)"
    />
    <ion-buttons slot="end">
      <ion-button [title]="'IDEA_COMMON.CHECKER.CONFIRM_SELECTION' | translate" (click)="confirm()">
        {{ 'IDEA_COMMON.CHECKER.DONE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="ideaToolbar" class="secondary">
    <ion-title>
      {{ 'IDEA_COMMON.CHECKER.NUM_ELEMENTS_SELECTED' | translate: { num: getNumChecked() } }}
      @if (limitSelectionToNum) {
        <span>
          {{ 'IDEA_COMMON.CHECKER.LIMIT_OF_NUM' | translate: { num: limitSelectionToNum } }}
        </span>
      }
    </ion-title>
    @if (!limitSelectionToNum && allowSelectDeselectAll) {
      <ion-buttons slot="end">
        <ion-button [title]="'IDEA_COMMON.CHECKER.DESELECT_ALL' | translate" (click)="checkAll(false)">
          <ion-icon slot="icon-only" name="square-outline" />
        </ion-button>
        <ion-button [title]="'IDEA_COMMON.CHECKER.SELECT_ALL' | translate" (click)="checkAll(true)">
          <ion-icon slot="icon-only" name="checkbox-outline" />
        </ion-button>
      </ion-buttons>
    }
    @if (limitSelectionToNum || !allowSelectDeselectAll) {
      <ion-buttons slot="end">
        <ion-button [title]="'IDEA_COMMON.CHECKER.RESET' | translate" (click)="checkAll(false)">
          {{ 'IDEA_COMMON.CHECKER.RESET' | translate }}
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
  @if (showCategoriesFilters) {
    <ion-toolbar color="ideaToolbar" class="secondary">
      <div class="additionalToolbar">
        @if (activeCategories1?.size) {
          <ion-button
            color="light"
            size="small"
            [class.strong]="category1"
            (click)="category1 ? resetFilterCategoryN(1) : setFilterCategoryN(1)"
          >
            <ion-icon [icon]="category1 ? 'close' : 'filter'" slot="start" />
            {{ category1 || ('IDEA_COMMON.SELECT.TAP_TO_FILTER' | translate) }}
          </ion-button>
        }
        @if (activeCategories2?.size) {
          <ion-button
            color="light"
            size="small"
            [class.strong]="category2"
            (click)="category2 ? resetFilterCategoryN(2) : setFilterCategoryN(2)"
          >
            <ion-icon [icon]="category2 ? 'close' : 'filter'" slot="start" />
            {{ category2 || ('IDEA_COMMON.SELECT.TAP_TO_FILTER' | translate) }}
          </ion-button>
        }
      </div>
    </ion-toolbar>
  }
</ion-header>
<ion-content>
  <ion-list class="checksList">
    @if (!filteredChecks.length) {
      <ion-item lines="none">
        <ion-label>
          <i>{{ noElementsFoundText || ('IDEA_COMMON.CHECKER.NO_ELEMENTS_FOUND' | translate) }}</i>
        </ion-label>
      </ion-item>
    }
    @for (check of filteredChecks; track check.value) {
      <ion-item class="check">
        <ion-checkbox
          slot="start"
          [disabled]="!check.checked && getNumChecked() >= limitSelectionToNum"
          [(ngModel)]="check.checked"
        />
        @if (showAvatars) {
          <ion-avatar slot="start">
            @if (check.color) {
              <div class="circle" [style.background-color]="check.color"></div>
            }
            @if (!check.color) {
              <idea-user-avatar [src]="check.avatar" [name]="check.name" />
            }
          </ion-avatar>
        }
        <ion-label>
          {{ check.name }}
          @if (check.description) {
            <p>{{ check.description }}</p>
          }
        </ion-label>
      </ion-item>
    }
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="search(searchbar?.value, $event.target)">
    <ion-infinite-scroll-content />
  </ion-infinite-scroll>
</ion-content>
