ion-toolbar.secondary {
  --min-height: 44px;
  ion-title {
    font-size: 0.8em;
  }
  ion-buttons ion-button {
    height: auto;
    font-size: 0.8em;
    --padding-top: 6px;
    --padding-end: 8px;
    --padding-bottom: 6px;
    --padding-start: 8px;
  }
  .additionalToolbar {
    padding: 0px 5px 5px 15px;
    text-align: left;
    ion-button {
      text-transform: none;
      font-weight: normal;
    }
    ion-button.strong {
      font-weight: bold;
    }
  }
}
.checksList {
  .check {
    --background: var(--ion-color-white);
  }
  .circle {
    height: 100%;
    width: 100%;
    background-color: #555;
    border-radius: 50%;
  }
}
