<ion-item
  class="checkerItem"
  [color]="color"
  [lines]="lines"
  [title]="searchPlaceholder || null"
  [button]="!disabled"
  [disabled]="isOpening"
  [class.withLabel]="label"
  (click)="fetchDataAndOpenModal()"
>
  @if (icon) {
    <ion-button fill="clear" slot="start" [color]="iconColor" [class.marginTop]="label" (click)="doIconSelect($event)">
      <ion-icon [icon]="icon" slot="icon-only" />
    </ion-button>
  }
  @if (label) {
    <ion-label position="stacked" [class.selectable]="!disabled || tappableWhenDisabled">
      {{ label }}
      @if (obligatory && !disabled) {
        <ion-text class="obligatoryDot" />
      }
    </ion-label>
  }
  <ion-label
    class="description"
    [class.selectable]="!disabled || tappableWhenDisabled"
    [class.placeholder]="getPreview() === allText || getPreview() === noneText || noPreviewText"
  >
    {{ getPreview() }}
  </ion-label>
  @if (!disabled) {
    <ion-icon slot="end" icon="caret-down" class="selectIcon" [class.selectable]="!disabled" />
  }
</ion-item>
