<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="t._('IDEA_COMMON.CHECKER.CLOSE_WITHOUT_SELECTING')" (click)="cancel()">
        <ion-icon slot="icon-only" name="chevron-down"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar
      [debounce]="100"
      [placeholder]="searchPlaceholder || t._('IDEA_COMMON.CHECKER.SEARCH')"
      (ionInput)="search($event?.target?.value)"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button [title]="t._('IDEA_COMMON.CHECKER.CONFIRM_SELECTION')" (click)="confirm()">
        {{ 'IDEA_COMMON.CHECKER.DONE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="ideaToolbar" class="secondary">
    <ion-title>
      {{ 'IDEA_COMMON.CHECKER.NUM_ELEMENTS_SELECTED' | translate: { num: getNumChecked() } }}
      <span *ngIf="limitSelectionToNum">
        {{ 'IDEA_COMMON.CHECKER.LIMIT_OF_NUM' | translate: { num: limitSelectionToNum } }}
      </span>
    </ion-title>
    <ion-buttons slot="end" *ngIf="!limitSelectionToNum && allowSelectDeselectAll">
      <ion-button [title]="t._('IDEA_COMMON.CHECKER.DESELECT_ALL')" (click)="checkAll(false)">
        <ion-icon slot="icon-only" name="square-outline"></ion-icon>
      </ion-button>
      <ion-button [title]="t._('IDEA_COMMON.CHECKER.SELECT_ALL')" (click)="checkAll(true)">
        <ion-icon slot="icon-only" name="checkbox-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="limitSelectionToNum || !allowSelectDeselectAll">
      <ion-button [title]="t._('IDEA_COMMON.CHECKER.RESET')" (click)="checkAll(false)">
        {{ 'IDEA_COMMON.CHECKER.RESET' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="checksList">
    <ion-item lines="none" *ngIf="!filteredChecks.length">
      <ion-label>
        <i>{{ noElementsFoundText || ('IDEA_COMMON.CHECKER.NO_ELEMENTS_FOUND' | translate) }}</i>
      </ion-label>
    </ion-item>
    <ion-virtual-scroll [items]="filteredChecks">
      <ion-item class="check" *virtualItem="let check">
        <ion-checkbox
          slot="start"
          [disabled]="!check.checked && getNumChecked() >= limitSelectionToNum"
          [(ngModel)]="check.checked"
        ></ion-checkbox>
        <ion-avatar slot="start" *ngIf="showAvatars">
          <div class="circle" *ngIf="check.color" [style.background-color]="check.color"></div>
          <ion-img *ngIf="!check.color" [src]="check.avatar" (ionError)="loadFallbackAvatar($event?.target)"></ion-img>
        </ion-avatar>
        <ion-label>{{ check.name }}</ion-label>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>
