<ion-item
  class="timeIntervalItem"
  [color]="color"
  [lines]="lines"
  [button]="!disabled"
  [title]="placeholder || valueToDisplay || ''"
  [class.withLabel]="label"
  (click)="disabled ? doSelectWhenDisabled() : pickTimeInterval()"
>
  @if (icon) {
    <ion-button fill="clear" slot="start" [color]="iconColor" [class.marginTop]="label" (click)="doIconSelect($event)">
      <ion-icon [name]="icon" slot="icon-only" />
    </ion-button>
  }
  @if (label) {
    <ion-label position="stacked" [class.selectable]="!disabled || tappableWhenDisabled">
      {{ label }}
      @if (obligatory && !disabled) {
        <ion-text class="obligatoryDot" />
      }
    </ion-label>
  }
  <ion-label class="description" [class.selectable]="!disabled || tappableWhenDisabled">
    @if (!valueToDisplay && !disabled) {
      <ion-text class="placeholder" [class.selectable]="!disabled">
        {{ placeholder }}
      </ion-text>
    }
    {{ valueToDisplay }}
  </ion-label>
  @if (!disabled) {
    <ion-icon slot="end" name="caret-down" class="selectIcon" [class.selectable]="!disabled" />
  }
</ion-item>
