<ion-fab #languagePicker id="IDEALanguagePicker" edge="true" vertical="top" horizontal="end">
  <ion-fab-button size="small" color="light" [title]="t.instant('IDEA.LANGUAGE_PICKER.CHANGE_LANGUAGE')">
    <img [src]="'assets/flags/' + t.currentLang + '.png'" />
  </ion-fab-button>
  <ion-fab-list>
    <ion-fab-button
      size="small"
      color="light"
      *ngFor="let l of languages"
      [title]="t.instant('IDEA.LANGUAGE_PICKER.CHANGE_LANGUAGE')"
      (click)="changeLanguage(l, languagePicker)"
    >
      <img [src]="'assets/flags/' + l + '.png'" />
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
