.checkerItem {
  .description {
    min-height: 20px;
    width: 100%;
  }
  .selectIcon {
    margin: 0;
    padding-left: 4px;
    font-size: 0.8em;
    color: var(--ion-color-medium);
  }
  .selectIcon.withLabel {
    padding-top: 25px;
  }
  .placeholder {
    color: var(--ion-color-medium);
  }
}
.selectable {
  cursor: pointer;
}
ion-text.obligatoryDot::after {
  content: '*';
  font-size: 1.1em;
  color: var(--ion-color-danger);
}
