.checkerItem {
  .description {
    min-height: 20px;
    width: 100%;
  }
  .selectIcon {
    margin: 0;
    font-size: 1.2rem;
    color: var(--ion-color-medium);
  }
  .selectIcon.withLabel {
    padding-top: 25px;
  }
}
.selectable {
  cursor: pointer
}
ion-text.obligatoryDot::after {
  content: '*';
  font-size: 1.1em;
  color: var(--ion-color-danger);
}
