<ion-item
  class="checkerItem"
  [lines]="lines || 'full'"
  [title]="placeholder || null"
  [button]="!disabled"
  [class.withLabel]="label"
  (click)="fetchDataAndOpenModal()"
>
  <ion-icon slot="start" *ngIf="icon" [name]="icon" [color]="iconColor" (click)="doIconSelect($event)"></ion-icon>
  <ion-label position="stacked" *ngIf="label" [class.selectable]="!disabled || tappableWhenDisabled">
    {{ label }}
    <ion-text class="obligatoryDot" *ngIf="obligatory && !disabled"></ion-text>
  </ion-label>
  <ion-label
    class="description"
    [class.selectable]="!disabled || tappableWhenDisabled"
    [class.placeholder]="getPreview() === allText || getPreview() === noneText || noPreviewText"
  >
    {{ getPreview() }}
  </ion-label>
  <ion-icon slot="end" name="caret-down" class="selectIcon" *ngIf="!disabled" [class.selectable]="!disabled"></ion-icon>
</ion-item>
