<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="t._('IDEA.CHECKER.CLOSE_WITHOUT_SELECTING')" (click)="cancel()">
        <ion-icon slot="icon-only" name="chevron-down"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar
      [debounce]="100"
      [placeholder]="searchPlaceholder || t._('IDEA.CHECKER.SEARCH')"
      (ionInput)="search($event.target ? $event.target.value : '')"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!hideSelectDeselectAll" [title]="t._('IDEA.CHECKER.DESELECT_ALL')" (click)="checkAll(false)">
        <ion-icon slot="icon-only" name="square-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!hideSelectDeselectAll" [title]="t._('IDEA.CHECKER.SELECT_ALL')" (click)="checkAll(true)">
        <ion-icon slot="icon-only" name="checkbox-outline"></ion-icon>
      </ion-button>
      <ion-button [title]="t._('IDEA.CHECKER.CONFIRM_SELECTION')" (click)="confirm()">
        {{ 'IDEA.CHECKER.DONE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="checksList">
    <ion-item lines="none" *ngIf="!filteredChecks.length">
      <ion-label>
        <i>
          {{ noElementsFoundText || ('IDEA.CHECKER.NO_ELEMENTS_FOUND' | translate) }}
        </i>
      </ion-label>
    </ion-item>
    <ion-virtual-scroll [items]="filteredChecks">
      <ion-item class="check" *virtualItem="let check">
        <ion-checkbox slot="start" [(ngModel)]="check.checked"></ion-checkbox>
        <ion-avatar slot="start" *ngIf="showAvatars">
          <div class="circle" *ngIf="check.color" [style.background-color]="check.color"></div>
          <img
            onerror="this.src === this.alt ? '' : this.src=this.alt;"
            *ngIf="!check.color"
            [src]="check.avatar"
            [alt]="fallbackAvatar"
          />
        </ion-avatar>
        <ion-label>
          {{ check.name }}
        </ion-label>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>
