ion-item[slot='header'] ion-input {
  --highlight-color-focused: transparent;
  --highlight-color-valid: transparent;
  --highlight-color-invalid: transparent;
}
ion-list[slot='content'] {
  padding-top: 0;
  padding-left: 20px;
}
