<ion-item
  class="listItem"
  [lines]="lines || 'full'"
  [button]="!disabled"
  [title]="placeholder || ''"
  [class.withLabel]="label"
  (click)="openList()"
>
  <ion-button
    fill="clear"
    slot="start"
    *ngIf="icon"
    [color]="iconColor"
    [class.marginTop]="label"
    (click)="doIconSelect($event)"
  >
    <ion-icon [name]="icon" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-label position="stacked" *ngIf="label" [class.selectable]="!disabled">
    {{ label }}
    <ion-text class="obligatoryDot" *ngIf="obligatory && !disabled"></ion-text>
  </ion-label>
  <ion-label class="description" [class.selectable]="!disabled" [class.placeholder]="!getPreview() || noPreviewText">
    {{ getPreview() || placeholder }}
  </ion-label>
  <ion-icon slot="end" name="caret-down" class="selectIcon" *ngIf="!disabled" [class.selectable]="!disabled"></ion-icon>
</ion-item>
