<ion-item
  class="listItem"
  [color]="color"
  [lines]="lines"
  [button]="!disabled"
  [disabled]="isOpening"
  [title]="placeholder || ''"
  [class.withLabel]="label"
  (click)="openList()"
>
  @if (icon) {
    <ion-button fill="clear" slot="start" [color]="iconColor" [class.marginTop]="label" (click)="doIconSelect($event)">
      <ion-icon [icon]="icon" slot="icon-only" />
    </ion-button>
  }
  @if (label) {
    <ion-label position="stacked" [class.selectable]="!disabled">
      {{ label }}
      @if (obligatory && !disabled) {
        <ion-text class="obligatoryDot" />
      }
    </ion-label>
  }
  <ion-label class="description" [class.selectable]="!disabled" [class.placeholder]="!getPreview() || noPreviewText">
    {{ getPreview() || placeholder }}
  </ion-label>
  @if (!disabled) {
    <ion-icon slot="end" icon="caret-down" class="selectIcon" [class.selectable]="!disabled" />
  }
</ion-item>
