ion-item {
  font-size: 1em;
  border-radius: 5px;
}
#cardElement {
  background: white; // fixed
  padding: 15px 20px;
  font-size: 1em;
}
.anchor {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.disclaimer {
  font-size: 0.9em;
}
