<ion-header no-border>
  <ion-toolbar class="ideaToolbar">
    <ion-title>
      {{ 'IDEA.SUBSCRIPTION.MANAGE_SUBSCRIPTION' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [title]="t.instant('COMMON.CANCEL_AND_CLOSE')" (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <p>{{ 'IDEA.SUBSCRIPTION.MAIN_EXPLANATION_' + target.toUpperCase() | translate }}</p>
      <p *ngIf="target === ProjectPlanTargets.TEAMS">
        <b>{{ 'IDEA.SUBSCRIPTION.NOTE_WELL' | translate }}</b
        >. {{ 'IDEA.SUBSCRIPTION.CALCULATION_METHOD' | translate }}
      </p>
    </ion-card-content>
  </ion-card>
  <div class="generalDivider">
    {{ 'IDEA.SUBSCRIPTION.OPTIONS' | translate }}
  </div>
  <ion-list class="aList maxWidthContainer">
    <ion-item
      *ngFor="let plan of plans"
      [attr.tappable]="plan.planId !== subscription.planId"
      (click)="subscribe(plan)"
    >
      <ion-label>
        {{ plan.title[t.currentLang] }}
        <p>
          {{ plan.description[t.currentLang] }}
        </p>
        <p *ngIf="subscription.planId === plan.planId">
          <ion-badge color="danger" *ngIf="isSubscriptionExpired(subscription)">
            {{ 'IDEA.SUBSCRIPTION.EXPIRED' | translate }}
          </ion-badge>
          <ion-badge color="danger" *ngIf="!isSubscriptionExpired(subscription) && !subscription.autoRenewing">
            {{ 'IDEA.SUBSCRIPTION.WONT_RENEW' | translate }}
          </ion-badge>
        </p>
      </ion-label>
      <ion-badge slot="end">
        {{ plan.priceStr }}
      </ion-badge>
      <ion-icon
        slot="end"
        *ngIf="subscription.planId"
        [name]="subscription.planId === plan.planId ? 'radio-button-on' : 'radio-button-off'"
      >
      </ion-icon>
    </ion-item>
  </ion-list>
  <ion-grid class="maxWidthContainer" *ngIf="plans?.length">
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="clear" (click)="restorePurchases()">
          {{ 'IDEA.SUBSCRIPTION.RESTORE_PURCHASES' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="subscription.planId && isSubscriptionExpired(subscription)">
      <ion-col>
        <ion-button expand="block" fill="clear" color="danger" (click)="removeExpiredSubscription()">
          {{ 'IDEA.SUBSCRIPTION.BACK_TO_FREE_PLAN' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="platformStore === 'ios'">
      <ion-col padding>
        <ion-text color="medium">
          {{ 'IDEA.SUBSCRIPTION.HOW_IT_WORKS_APPLE' | translate }}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          expand="block"
          fill="clear"
          color="medium"
          (click)="extBrowser.openLink(t.instant('IDEA_VARIABLES.TERMS_AND_CONDITIONS_URL'))"
        >
          {{ 'IDEA.AUTH.TERMS_AND_CONDITIONS' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          expand="block"
          fill="clear"
          color="medium"
          (click)="extBrowser.openLink(t.instant('IDEA_VARIABLES.PRIVACY_POLICY_URL'))"
        >
          {{ 'IDEA.AUTH.PRIVACY_POLICY' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="subscription.planId">
      <ion-col>
        <ion-button expand="block" fill="clear" color="danger" (click)="cancelSubscription()">
          {{ 'IDEA.SUBSCRIPTION.CANCEL_SUBSCRIPTION' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
