.labelItem {
  min-height: 48px;
  height: auto;
  .description {
    min-height: 20px;
    height: auto;
    line-height: 20px;
    width: 100%;
  }
  .placeholder {
    color: var(--ion-color-medium);
    padding-bottom: 6px;
  }
  .selectIcon {
    color: var(--ion-color-step-200);
    font-size: 1.3em;
  }
}
.labelItem.withLabel {
  min-height: 58px;
  height: auto;
  .selectIcon {
    padding-top: 4px;
  }
  ion-button[slot='start'] {
    margin-top: 16px;
  }
}
