ion-list.aList {
  border-radius: 5px;
  ion-item {
    --border-color: var(--ion-color-light);
    ion-thumbnail {
      width: 20px;
      height: 20px;
      margin-top: 16px;
      margin-right: 20px;
      img {
        border-radius: 8px;
      }
    }
    ion-textarea {
      --padding-top: 2px;
      --padding-bottom: 16px;
    }
  }
}
ion-list.aList:first-of-type {
  ion-list-header {
    margin-top: 0;
  }
}
p.explanation {
  margin: 15px 12px 20px 12px;
  font-size: 0.9em;
  color: var(--ion-color-dark-tint);
}
.variablesList {
  margin: 0;
  li {
    padding: 3px;
    color: var(--ion-color-dark);
    font-size: 0.9em;
  }
}
