<ion-item
  class="labelItem"
  button
  [disabled]="isOpening"
  [color]="color"
  [lines]="lines"
  [title]="placeholder || ''"
  [class.withLabel]="label"
  (click)="edit()"
>
  @if (icon) {
    <ion-button fill="clear" slot="start" [color]="iconColor" [class.marginTop]="label" (click)="doIconSelect($event)">
      <ion-icon [icon]="icon" slot="icon-only" />
    </ion-button>
  }
  @if (label) {
    <ion-label position="stacked">
      {{ label }}
      @if (!disabled && obligatory) {
        <ion-text class="obligatoryDot" />
      }
    </ion-label>
  }
  <div class="description">
    @if (!htmlContent) {
      <div class="placeholder">{{ placeholder }}</div>
    }
    @if (htmlContent) {
      <div class="innerContent" [class.md]="markdown" [innerHTML]="htmlContent | highlight: variableCodes"></div>
    }
  </div>
  <ion-icon slot="end" icon="chevron-forward" class="selectIcon" />
</ion-item>
