<ion-item
  class="labelItem"
  button
  [lines]="lines"
  [title]="placeholder ?? ''"
  [class.withLabel]="label"
  (click)="edit()"
>
  <ion-button
    fill="clear"
    slot="start"
    *ngIf="icon"
    [color]="iconColor"
    [class.marginTop]="label"
    (click)="doIconSelect($event)"
  >
    <ion-icon [icon]="icon" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-label position="stacked" *ngIf="label">
    {{ label }} <ion-text class="obligatoryDot" *ngIf="!disabled && obligatory"></ion-text>
  </ion-label>
  <div class="description">
    <div class="placeholder" *ngIf="!htmlContent">{{ placeholder }}</div>
    <div
      class="innerContent"
      *ngIf="htmlContent"
      [class.md]="markdown"
      [innerHTML]="htmlContent | highlight : variableCodes"
    ></div>
  </div>
  <ion-icon slot="end" icon="chevron-forward" class="selectIcon"></ion-icon>
</ion-item>
