.flexBox {
  background: var(--idea-auth-background-color, var(--ion-color-white-shade));
}
ion-img.serviceLogo {
  position: relative;
  top: 80px;
  z-index: 1;
  width: 180px;
  display: block;
  margin: 0 auto;
}
.authCard {
  min-width: 400px;
  max-width: 550px;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  background-color: var(--idea-auth-card-background-color, var(--ion-color-white));
  border: 1px solid var(--idea-auth-card-border-color, var(--ion-color-light));
  border-radius: 10px;
  box-shadow: none;
  text-align: center;
  ion-card-title {
    font-family: 'auth-title';
    font-size: 3em;
    padding: 40px 0 10px 0;
    letter-spacing: 1px;
  }
  ion-card-subtitle {
    font-family: 'auth-title';
    font-size: 1.2em;
  }
  ion-card-content {
    padding-top: 16px;
    .errorBox {
      padding-left: 10px;
      margin-bottom: 20px;
      text-align: left;
      border-left: 2px solid var(--ion-color-danger);
    }
    ion-item {
      --border-color: var(--idea-auth-card-border-color, var(--ion-color-light));
      --background: none;
      --inner-padding-end: 0;
      --padding-start: 0;
      margin: 15px;
      ion-input {
        @media only screen and (max-width: 500px) {
          background-color: var(--idea-auth-card-border-color, var(--ion-color-white));
        }
        @media only screen and (min-width: 501px) {
          background-color: var(--idea-auth-card-border-color, var(--ion-color-light));
        }
        border-radius: 10px;
        min-height: 50px;
        --padding-start: 10px;
        --padding-end: 10px;
      }
      ion-button.itemEnd {
        position: absolute;
        z-index: 2;
        right: 5px;
      }
    }
    .agreementsAcceptanceRow {
      margin-top: 15px;
      font-size: 0.9em;
      ion-checkbox {
        vertical-align: bottom;
        margin-right: 3px;
      }
    }
    ion-button.signIn,
    ion-button.signUp {
      --border-radius: 10px;
    }
    .smallCaseButton {
      text-transform: none;
      letter-spacing: normal;
      font-size: 1em;
    }
  }
  @media only screen and (max-width: 500px) {
    background-color: transparent;
    border: none;
  }
}
.ideaLogo {
  width: 65px;
  margin: 0 auto 80px auto;
  margin-top: 40px;
  cursor: pointer;
}
.passwordPolicyPopover {
  --width: 350px;
}
