<ion-content>
  <ion-card color="warning" *ngIf="newAccountRegistered">
    <ion-card-content>{{ 'IDEA_AUTH.CONFIRM_YOUR_EMAIL_TO_LOGIN' | translate }}</ion-card-content>
  </ion-card>
  <form class="flexBox">
    <div>
      <ion-card class="authCard">
        <ion-img
          [title]="'IDEA_AUTH.SERVICE_LOGO' | translate"
          [src]="darkMode ? 'assets/icons/icon-auth-alt.svg' : 'assets/icons/icon-auth.svg'"
        />
        <ion-card-header>
          <ion-card-title color="primary" *ngIf="title">{{ title }}</ion-card-title>
          <ion-card-subtitle *ngIf="translationExists('IDEA_VARIABLES.TAGLINE')">
            {{ 'IDEA_VARIABLES.TAGLINE' | translate }}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p class="errorBox" *ngIf="errorMsg"><b>{{ 'IDEA_AUTH.WARNING' | translate }}.</b> {{ errorMsg }}</p>
          <ion-item>
            <ion-label position="inline">
              <ion-icon name="person-circle" color="primary" />
            </ion-label>
            <ion-input
              type="email"
              inputmode="email"
              pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z-_.]{2,}[.]{1}[a-zA-Z]{2,}"
              spellcheck="false"
              autocorrect="off"
              autocomplete="email"
              [placeholder]="'IDEA_AUTH.EMAIL' | translate"
              [title]="'IDEA_AUTH.EMAIL_HINT' | translate"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="email"
              (keyup.enter)="login()"
            />
          </ion-item>
          <ion-item>
            <ion-label position="inline">
              <ion-icon name="key" color="primary" />
            </ion-label>
            <ion-input
              id="current-password"
              type="password"
              spellcheck="false"
              autocorrect="off"
              autocomplete="current-password"
              [clearOnEdit]="false"
              [placeholder]="'IDEA_AUTH.PASSWORD' | translate"
              [title]="'IDEA_AUTH.PASSWORD_HINT' | translate"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="password"
              (keyup.enter)="login()"
            />
          </ion-item>
          <ion-row
            class="agreementsAcceptanceRow"
            *ngIf="
              !registrationPossible &&
              (translationExists('IDEA_VARIABLES.TERMS_AND_CONDITIONS_URL') || translationExists('IDEA_VARIABLES.PRIVACY_POLICY_URL'))
            "
          >
            <ion-col>
              <ion-checkbox size="small" [ngModelOptions]="{ standalone: true }" [(ngModel)]="agreementsCheck" />
              {{ 'IDEA_AUTH.AGREEMENTS_CHECK_LOGIN' | translate }}:
              <a
                ion-text
                color="primary"
                target="_blank"
                *ngIf="translationExists('IDEA_VARIABLES.TERMS_AND_CONDITIONS_URL')"
                [title]="'IDEA_AUTH.TERMS_AND_CONDITIONS_HINT' | translate"
                [href]="'IDEA_VARIABLES.TERMS_AND_CONDITIONS_URL' | translate"
              >
                {{ 'IDEA_AUTH.TERMS_AND_CONDITIONS' | translate }}
              </a>
              <ion-text
                *ngIf="
                translationExists('IDEA_VARIABLES.PRIVACY_POLICY_URL') && translationExists('IDEA_VARIABLES.TERMS_AND_CONDITIONS_URL')
                "
              >
                &
              </ion-text>
              <a
                ion-text
                color="primary"
                target="_blank"
                *ngIf="translationExists('IDEA_VARIABLES.PRIVACY_POLICY_URL')"
                [title]="'IDEA_AUTH.PRIVACY_POLICY_HINT' | translate"
                [href]="'IDEA_VARIABLES.PRIVACY_POLICY_URL' | translate"
              >
                {{ 'IDEA_AUTH.PRIVACY_POLICY' | translate }}
              </a>
            </ion-col>
          </ion-row>
          <ion-button
            expand="block"
            [disabled]="!agreementsCheck"
            [title]="'IDEA_AUTH.SIGN_IN_HINT' | translate"
            (click)="login()"
          >
            {{ 'IDEA_AUTH.SIGN_IN' | translate }}
          </ion-button>
          <ion-button
            fill="clear"
            expand="block"
            class="smallCaseButton"
            *ngIf="registrationPossible"
            [title]="'IDEA_AUTH.CREATE_AN_ACCOUNT_HINT' | translate"
            (click)="goToRegistration()"
          >
            {{ 'IDEA_AUTH.CREATE_AN_ACCOUNT' | translate }}
          </ion-button>
          <ion-button
            fill="clear"
            expand="block"
            class="smallCaseButton"
            [title]="'IDEA_AUTH.I_FORGOT_MY_PASSWORD_HINT' | translate"
            (click)="goToForgotPassword()"
          >
            {{ 'IDEA_AUTH.I_FORGOT_MY_PASSWORD' | translate }}
          </ion-button>
          <ion-button
            fill="clear"
            expand="block"
            color="medium"
            class="smallCaseButton"
            *ngIf="hasIntroPage"
            [title]="'IDEA_AUTH.BACK_TO_INTRO_HINT' | translate"
            (click)="goToIntro()"
          >
            {{ 'IDEA_AUTH.BACK_TO_INTRO' | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
      <ion-img
        class="ideaLogo"
        *ngIf="website"
        [src]="darkMode ? './assets/icons/idea-alt.png' : './assets/icons/idea.png'"
        [title]="'IDEA_AUTH.IDEA_TAGLINE' | translate"
        (click)="openLink(website)"
      />
    </div>
  </form>
</ion-content>
