<idea-select
  [data]="foldersSuggestions"
  [description]="folder?.name || t._('IDEA_TEAMS.RESOURCE_CENTER.NO_FOLDER_SELECTED')"
  [label]="label"
  [placeholder]="t._('IDEA_TEAMS.RESOURCE_CENTER.SELECT_FOLDER')"
  [searchPlaceholder]="t._('IDEA_TEAMS.RESOURCE_CENTER.SELECT_FOLDER')"
  [lines]="lines"
  [hideIdFromUI]="true"
  [disabled]="!editMode"
  [avoidAutoSelection]="true"
  [icon]="icon"
  [iconColor]="iconColor"
  (select)="$event ? setFolder($event?.value) : null"
  (iconSelect)="iconSelect.emit()"
></idea-select>
