<idea-select
  [data]="foldersSuggestions"
  [description]="folder?.name || 'IDEA_TEAMS.RESOURCE_CENTER.NO_FOLDER_SELECTED' | translate"
  [label]="label"
  [placeholder]="'IDEA_TEAMS.RESOURCE_CENTER.SELECT_FOLDER' | translate"
  [searchPlaceholder]="'IDEA_TEAMS.RESOURCE_CENTER.SELECT_FOLDER' | translate"
  [lines]="lines"
  [hideIdFromUI]="true"
  [disabled]="!editMode"
  [avoidAutoSelection]="true"
  [icon]="icon"
  [iconColor]="iconColor"
  (select)="$event ? setFolder($event?.value) : null"
  (iconSelect)="iconSelect.emit()"
/>
