<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="'COMMON.CLOSE' | translate" (click)="close()">
        <ion-icon name="arrow-back" slot="icon-only" />
      </ion-button>
    </ion-buttons>
    <ion-searchbar
      #searchbar
      [placeholder]="'IDEA_TEAMS.RESOURCE_CENTER.SEARCH_FOR_FOLDERS' | translate"
      (ionInput)="search($event.target ? $event.target.value : '')"
    />
    <ion-buttons slot="end">
      @if (admin) {
        <ion-button
          [disabled]="_offline.isOffline()"
          [title]="'IDEA_TEAMS.RESOURCE_CENTER.CREATE_NEW_FOLDER' | translate"
          (click)="newFolder()"
        >
          <ion-icon slot="icon-only" name="add" />
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event.target)">
    <ion-refresher-content />
  </ion-refresher>
  <ion-list class="aList">
    @if (!filteredFolders) {
      <ion-item>
        <ion-label>
          <ion-skeleton-text animated style="width: 50%" />
        </ion-label>
      </ion-item>
    }
    @if (filteredFolders && !filteredFolders.length) {
      <ion-item class="noElements">
        <ion-label>{{ 'COMMON.NO_ELEMENT_FOUND' | translate }}</ion-label>
      </ion-item>
    }
    @for (folder of filteredFolders; track folder) {
      <ion-item button (click)="openFolder(folder)">
        <ion-label>{{ folder.name }}</ion-label>
        <ion-button
          color="medium"
          fill="clear"
          slot="end"
          [title]="'IDEA_TEAMS.RESOURCE_CENTER.RENAME' | translate"
          [disabled]="_offline.isOffline()"
          (click)="renameFolder(folder, $event)"
        >
          <ion-icon name="pencil" slot="icon-only" />
        </ion-button>
        <ion-button
          color="danger"
          fill="clear"
          slot="end"
          [title]="'IDEA_TEAMS.RESOURCE_CENTER.DELETE' | translate"
          [disabled]="_offline.isOffline()"
          (click)="deleteFolder(folder, $event)"
        >
          <ion-icon name="trash" slot="icon-only" />
        </ion-button>
      </ion-item>
    }
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="search(searchbar?.value, $event.target)">
    <ion-infinite-scroll-content />
  </ion-infinite-scroll>
</ion-content>
