<ion-item class="resources" *ngFor="let r of attachedResources; let odd = odd" [lines]="lines" [class.odd]="odd">
  <ion-button fill="clear" size="small" slot="start" *ngIf="offline.isOnline()" (click)="openResource(r, true)">
    <ion-icon name="open-outline" slot="icon-only" size="small"></ion-icon>
  </ion-button>
  <ion-icon
    slot="start"
    color="medium"
    *ngIf="!editMode"
    [name]="getFormatIcon(r.format)"
    [title]="r.format"
  ></ion-icon>
  <ion-input
    *ngIf="editMode"
    [(ngModel)]="r.name"
    [placeholder]="r.originalName"
    (ionBlur)="$event.target.value = $event.target.value || t._('IDEA.RESOURCE_CENTER.NO_NAME')"
  ></ion-input>
  <ion-label *ngIf="!editMode">
    {{ r.name }}
    <p>{{ r.originalName }}.{{ r.format }}</p>
    <p class="ion-text-wrap oldVersionAlert" *ngIf="resources && isResourceNewerVersionAvailable(r)">
      {{ 'IDEA.RESOURCE_CENTER.VERSION_ATTACHED_IS_OLDER' | translate }}.
      <ion-text class="tappable" *ngIf="offline.isOnline()" (click)="openResource(r)">
        {{ 'IDEA.RESOURCE_CENTER.OPEN_OLD_VERSION' | translate }}
      </ion-text>
    </p>
  </ion-label>
  <ion-button
    *ngIf="editMode"
    slot="end"
    color="danger"
    fill="clear"
    [title]="t._('IDEA.RESOURCE_CENTER.REMOVE_RESOURCE')"
    (click)="removeResource(r)"
  >
    <ion-icon name="remove" slot="icon-only"></ion-icon>
  </ion-button>
</ion-item>
<!----->
<ion-item lines="none" class="noResources" *ngIf="!editMode && !attachedResources?.length">
  <ion-label>
    {{ 'IDEA.RESOURCE_CENTER.NO_RESOURCES' | translate }}
  </ion-label>
</ion-item>
<!----->
<idea-select
  *ngIf="editMode && resourcesSuggestions"
  [data]="resourcesSuggestions"
  [placeholder]="t._('IDEA.RESOURCE_CENTER.TAP_TO_ADD_A_RESOURCE')"
  [searchPlaceholder]="t._('IDEA.RESOURCE_CENTER.RESOURCES_AVAILABLE')"
  [lines]="'none'"
  [clearValueAfterSelection]="true"
  [hideClearButton]="true"
  [avoidAutoSelection]="true"
  [hideIdFromUI]="true"
  (select)="$event ? addResource($event.value) : null"
></idea-select>
