<ion-item
  class="selectItem"
  [lines]="lines || 'full'"
  [button]="!disabled"
  [title]="placeholder || description"
  [class.withLabel]="label"
  (click)="disabled ? doSelectWhenDisabled() : fetchDataAndOpenModal()"
>
  <ion-icon slot="start" *ngIf="icon" [name]="icon" [color]="iconColor" (click)="doIconSelect($event)"></ion-icon>
  <ion-label position="stacked" *ngIf="label" [class.selectable]="!disabled || tappableWhenDisabled">
    {{ label }}
    <ion-text class="obligatoryDot" *ngIf="obligatory && !disabled"></ion-text>
  </ion-label>
  <ion-label class="description" [class.selectable]="!disabled || tappableWhenDisabled">
    <ion-text class="placeholder" *ngIf="!description && !disabled">
      {{ placeholder }}
    </ion-text>
    {{ description }}
  </ion-label>
  <ion-icon slot="end" name="caret-down" class="selectIcon" *ngIf="!disabled" [class.selectable]="!disabled"></ion-icon>
</ion-item>
