ion-toolbar {
  ion-row {
    padding: 2px 2px 6px 2px !important;
  }
}
.suggestionsList {
  ion-item {
    --background: white;
  }
  .suggestion.selected {
    --background: #eee;
  }
  .categories {
    padding-bottom: 4px;
    .category {
      font-size: 0.7em;
      font-weight: 700;
    }
    .categoriesDivider {
      display: inline-block;
      padding: 0 4px;
      font-size: 0.7em;
      vertical-align: text-bottom;
    }
  }
}
