ion-toolbar {
  .categoriesFilters {
    padding: 0px 5px 5px 5px;
    text-align: right;
    ion-button {
      text-transform: none;
      font-weight: normal;
    }
    ion-button.strong {
      font-weight: bold;
    }
  }
  ion-searchbar.withCategoriesFilters {
    padding-top: 8px;
  }
}
.suggestionsList {
  ion-item {
    --background: var(--ion-color-white);
  }
  .suggestion.selected {
    --background: var(--ion-color-light);
  }
  .categories {
    padding-bottom: 4px;
    .category {
      font-size: 0.7em;
      font-weight: 700;
    }
    .categoriesDivider {
      display: inline-block;
      padding: 0 4px;
      font-size: 0.7em;
      vertical-align: text-bottom;
    }
  }
  .description {
    font-size: 0.8em;
    line-height: 1.1em;
  }
  .description.marginTop {
    margin-top: 4px;
  }
}
