<ion-header no-border>
  <ion-toolbar class="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="t.instant('IDEA.SELECT.CLOSE_WITHOUT_SELECTING')" (click)="select()">
        <ion-icon slot="icon-only" name="ios-arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar
      [placeholder]="searchPlaceholder || t.instant('IDEA.SELECT.SEARCH')"
      [debounce]="100"
      (ionInput)="getSuggestions($event)"
    ></ion-searchbar>
    <ion-buttons slot="end" *ngIf="!hideClearButton">
      <ion-button [title]="t.instant('IDEA.SELECT.CLEAR_SELECTION')" (click)="select({ value: '' })">
        <ion-icon slot="icon-only" name="backspace"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row *ngIf="activeCategories1?.size || activeCategories2?.size">
    <ion-col [size]="12" [sizeLg]="6">
      <idea-select
        *ngIf="activeCategories1?.size"
        [data]="mapIntoSuggestions(activeCategories1)"
        [icon]="'funnel'"
        [lines]="'none'"
        [description]="category1"
        [noElementsFoundText]="t.instant('COMMON.NO_ELEMENT_FOUND')"
        [hideIdFromUI]="true"
        (select)="setFilterCategoryN(1, $event.value)"
      ></idea-select>
    </ion-col>
    <ion-col [size]="12" [sizeLg]="6">
      <idea-select
        *ngIf="activeCategories2?.size"
        [data]="mapIntoSuggestions(activeCategories2)"
        [icon]="'funnel'"
        [lines]="'none'"
        [description]="category2"
        [noElementsFoundText]="t.instant('COMMON.NO_ELEMENT_FOUND')"
        [hideIdFromUI]="true"
        (select)="setFilterCategoryN(2, $event.value)"
      ></idea-select>
    </ion-col>
  </ion-row>
  <ion-list class="suggestionsList">
    <ion-item lines="none" *ngIf="!suggestions.length && !(allowUnlistedValues && searchbar.value)">
      <ion-label>
        <i>
          {{ noElementsFoundText || ('IDEA.SELECT.NO_ELEMENTS_FOUND' | translate) }}
        </i>
      </ion-label>
    </ion-item>
    <ion-item
      tappable
      class="suggestion"
      *ngIf="allowUnlistedValues && searchbar.value"
      [title]="t.instant('IDEA.SELECT.SELECT_', { suggestion: searchbar.value })"
      (click)="select({ value: searchbar.value })"
    >
      <!-- the "key" class is used for keyboard controls -->
      <i class="key">
        {{ searchbar.value }}
      </i>
    </ion-item>
    <ion-item
      tappable
      class="suggestion"
      *ngFor="let suggestion of suggestions"
      [title]="t.instant('IDEA.SELECT.SELECT_', { suggestion: suggestion.name || suggestion.value })"
      (click)="select(suggestion)"
    >
      <ion-label>
        <p class="categories" *ngIf="suggestion.category1 || suggestion.category2">
          <ion-text *ngIf="suggestion.category1">
            {{ suggestion.category1 }}
          </ion-text>
          <ion-text *ngIf="suggestion.category1 && suggestion.category2" class="categoriesDivider">
            |
          </ion-text>
          <ion-text *ngIf="suggestion.category2">
            {{ suggestion.category2 }}
          </ion-text>
        </p>
        <!-- the "key" div is used for keyboard controls -->
        <div class="key" style="display: none;">
          {{ suggestion.value }}
        </div>
        <ion-text [innerHTML]="suggestion.name || suggestion.value | boldprefix: searchbar.value"></ion-text>
        <ion-text color="medium">
          <p *ngIf="suggestion.name && !hideIdFromUI" [innerHTML]="suggestion.value | boldprefix: searchbar.value"></p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event.target)">
      <ion-infinite-scroll-content> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
