<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!hideClearButton" [title]="t._('IDEA_COMMON.CALENDAR.RESET')" (click)="save(true)">
        <ion-icon slot="icon-only" name="arrow-undo"></ion-icon>
      </ion-button>
      <ion-button [title]="t._('IDEA_COMMON.CALENDAR.CLOSE_WITHOUT_SAVING')" (click)="save()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed class="ion-no-padding">
    <ion-row>
      <h1 class="headerLabel">{{ 'IDEA_COMMON.CALENDAR.SET_DATE' | translate }}</h1>
    </ion-row>
    <ion-row style="margin-bottom: 8px">
      <ion-col class="ion-text-center ion-no-padding" [size]="5">
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col class="ion-text-right ion-no-padding" [size]="3">
            <ion-button fill="clear" color="dark" (click)="addYears(-1)">
              <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center ion-no-padding tappable" [size]="6">
            <ion-input
              type="text"
              [placeholder]="t._('IDEA_COMMON.CALENDAR.YEAR')"
              [value]="refDate.getFullYear()"
              (ionFocus)="$event.target.value = ''"
              (ionChange)="setYear($event?.target?.value)"
            >
            </ion-input>
          </ion-col>
          <ion-col class="ion-text-left ion-no-padding" [size]="3">
            <ion-button fill="clear" color="dark" (click)="addYears(+1)">
              <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="ion-text-center ion-no-padding" [size]="7">
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-right ion-no-padding" [size]="3">
            <ion-button fill="clear" color="dark" (click)="addMonths(-1)">
              <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center ion-no-padding tappable" [size]="6" (click)="showMonths()">
            {{ refDate | dateLocale : 'MMMM' }}
          </ion-col>
          <ion-col class="ion-text-left ion-no-padding" [size]="3">
            <ion-button fill="clear" color="dark" (click)="addMonths(+1)">
              <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row style="margin-bottom: 8px" class="headerLabel">
      <ion-col class="ion-text-center ion-no-padding" *ngFor="let ddd of weekDays">
        {{ ddd }}
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" *ngFor="let row of calendarGrid; let i = index">
      <ion-col class="ion-text-center ion-no-padding" *ngFor="let col of row; let j = index">
        <ion-button
          size="small"
          shape="round"
          [color]="
            isSameDay(calendarGrid[i][j], today) || isSameDay(calendarGrid[i][j], selectedDate)
              ? 'primary'
              : isSameMonth(calendarGrid[i][j], refDate)
              ? 'dark'
              : 'medium'
          "
          [fill]="
            isSameDay(calendarGrid[i][j], selectedDate)
              ? 'solid'
              : isSameDay(calendarGrid[i][j], today)
              ? 'outline'
              : 'clear'
          "
          (click)="selectDate(calendarGrid[i][j])"
        >
          {{ calendarGrid[i][j] | date : 'd' }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="timePicker || manualTimePicker">
      <h1 class="headerLabel">
        {{ 'IDEA_COMMON.CALENDAR.SET_TIME' | translate }}
      </h1>
    </ion-row>
    <ion-row class="ion-align-items-center" *ngIf="timePicker">
      <ion-col class="ion-no-padding" [size]="7">
        <ion-row>
          <ion-col class="ion-text-center ion-no-padding" [size]="2" *ngFor="let hour of hours">
            <ion-button
              size="small"
              shape="round"
              [color]="isSameHour(hour) ? 'primary' : 'dark'"
              [fill]="isSameHour(hour) ? 'solid' : 'clear'"
              (click)="selectHour(hour)"
            >
              {{ hour }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="ion-text-center ion-no-padding" [size]="1"> : </ion-col>
      <ion-col class="ion-no-padding" [size]="4">
        <ion-row>
          <ion-col class="ion-text-center ion-no-padding" [size]="4" *ngFor="let minute of minutes">
            <ion-button
              size="small"
              shape="round"
              [color]="isSameMinute(minute) ? 'primary' : 'dark'"
              [fill]="isSameMinute(minute) ? 'solid' : 'clear'"
              (click)="selectMinute(minute)"
            >
              {{ minute }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center manualTimePicker" *ngIf="manualTimePicker">
      <ion-col class="ion-text-center" [size]="12">
        <input type="number" min="0" max="23" [value]="hour" (change)="selectHour($event.target.value)" />
        <span>:</span>
        <input type="number" min="0" max="59" [value]="minute" (change)="selectMinute($event.target.value)" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="ideaToolbar" class="tappable" (click)="save()">
    <ion-title class="ion-text-center">
      <ion-icon name="checkmark"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-footer>
