.flexBox {
  background: #fdfdfd;
}
.authCard {
  min-width: 400px;
  max-width: 550px;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: none;
  text-align: center;
  ion-img {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  ion-card-title {
    font-family: 'auth-title';
    font-size: 3em;
  }
  ion-card-subtitle {
    font-family: 'auth-title';
    font-size: 1.2em;
  }
  ion-card-content {
    padding-top: 16px;
    .errorBox {
      padding-left: 10px;
      margin-bottom: 20px;
      text-align: left;
      border-left: 2px solid var(--ion-color-danger);
    }
    ion-item {
      --border-color: var(--ion-color-light);
    }
    ion-icon {
      padding-top: 4px;
      padding-right: 5px;
      font-size: 1.3em;
    }
    .agreementsAcceptanceRow {
      margin-top: 15px;
      font-size: 0.9em;
      ion-checkbox {
        vertical-align: bottom;
        margin-right: 3px;
      }
    }
    ion-button {
      margin-top: 15px;
    }
    .smallCaseButton {
      text-transform: none;
      letter-spacing: normal;
      font-size: 1em;
    }
  }
  @media only screen and (max-width: 500px) {
    background-color: transparent;
    border: none;
  }
}
.ideaLogo {
  width: 65px;
  margin: 0 auto;
  margin-top: 40px;
  cursor: pointer;
}
