<ion-content>
  <form class="flexBox">
    <div>
      <ion-card class="authCard">
        <ion-img [title]="t._('IDEA.AUTH.SERVICE_LOGO')" [src]="'assets/icons/icon-auth.svg'"></ion-img>
        <ion-card-header>
          <ion-card-title color="primary" *ngIf="title">
            {{ title }}
          </ion-card-title>
          <ion-card-subtitle *ngIf="t._('IDEA_VARIABLES.TAGLINE')">
            {{ 'IDEA_VARIABLES.TAGLINE' | translate }}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p class="errorBox" *ngIf="errorMsg">
            <b> {{ 'IDEA.AUTH.ERROR' | translate }}. </b>
            {{ errorMsg }}
          </p>
          <ion-item>
            <ion-label position="inline">
              <ion-icon name="person-circle" color="primary"> </ion-icon>
            </ion-label>
            <ion-input
              type="email"
              inputmode="email"
              pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z-_.]{2,}[.]{1}[a-zA-Z]{2,}"
              spellcheck="false"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              [placeholder]="t._('IDEA.AUTH.EMAIL')"
              [title]="t._('IDEA.AUTH.EMAIL_HINT')"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="email"
              (keyup.enter)="login()"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="inline">
              <ion-icon name="key" color="primary"></ion-icon>
            </ion-label>
            <ion-input
              id="current-password"
              type="password"
              pattern=".{8,}"
              spellcheck="false"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="current-password"
              [clearOnEdit]="false"
              [placeholder]="t._('IDEA.AUTH.PASSWORD')"
              [title]="t._('IDEA.AUTH.PASSWORD_HINT')"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="password"
              (keyup.enter)="login()"
            ></ion-input>
          </ion-item>
          <ion-row
            class="agreementsAcceptanceRow"
            *ngIf="
              !registrationPossible &&
              (t._('IDEA_VARIABLES.TERMS_AND_CONDITIONS_URL') || t._('IDEA_VARIABLES.PRIVACY_POLICY_URL'))
            "
          >
            <ion-col>
              <ion-checkbox
                size="small"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="agreementsCheck"
              ></ion-checkbox>
              {{ 'IDEA.AUTH.AGREEMENTS_CHECK_LOGIN' | translate }}:
              <a
                ion-text
                color="primary"
                target="_blank"
                *ngIf="t._('IDEA_VARIABLES.TERMS_AND_CONDITIONS_URL')"
                [title]="t._('IDEA.AUTH.TERMS_AND_CONDITIONS_HINT')"
                [href]="t._('IDEA_VARIABLES.TERMS_AND_CONDITIONS_URL')"
              >
                {{ 'IDEA.AUTH.TERMS_AND_CONDITIONS' | translate }}
              </a>
              <ion-text
                *ngIf="
                  t._('IDEA_VARIABLES.PRIVACY_POLICY_URL') && t._('IDEA_VARIABLES.TERMS_AND_CONDITIONS_URL')
                "
              >
                &
              </ion-text>
              <a
                ion-text
                color="primary"
                target="_blank"
                *ngIf="t._('IDEA_VARIABLES.PRIVACY_POLICY_URL')"
                [title]="t._('IDEA.AUTH.PRIVACY_POLICY_HINT')"
                [href]="t._('IDEA_VARIABLES.PRIVACY_POLICY_URL')"
              >
                {{ 'IDEA.AUTH.PRIVACY_POLICY' | translate }}
              </a>
            </ion-col>
          </ion-row>
          <ion-button
            expand="block"
            [disabled]="!agreementsCheck"
            [title]="t._('IDEA.AUTH.SIGN_IN_HINT')"
            (click)="login()"
          >
            {{ 'IDEA.AUTH.SIGN_IN' | translate }}
          </ion-button>
          <ion-button
            fill="clear"
            expand="block"
            class="smallCaseButton"
            *ngIf="registrationPossible"
            [title]="t._('IDEA.AUTH.CREATE_AN_ACCOUNT_HINT')"
            (click)="goToRegistration()"
          >
            {{ 'IDEA.AUTH.CREATE_AN_ACCOUNT' | translate }}
          </ion-button>
          <ion-button
            fill="clear"
            expand="block"
            class="smallCaseButton"
            [title]="t._('IDEA.AUTH.I_FORGOT_MY_PASSWORD_HINT')"
            (click)="goToForgotPassword()"
          >
            {{ 'IDEA.AUTH.I_FORGOT_MY_PASSWORD' | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
      <ion-img
        class="ideaLogo"
        *ngIf="website"
        [src]="'./assets/icons/idea.png'"
        [title]="t._('IDEA.AUTH.IDEA_TAGLINE')"
        (click)="extBrowser.openLink(website)"
      ></ion-img>
    </div>
  </form>
</ion-content>
